# IMDb data
Number of movies that featured an actor/actress. IMDb publishes their data on https://www.imdb.com/interfaces/, so no need for webscraping. I used the `imdb-sqlite` package to parse IMDb's data into an SQlite database, which can be queried easily using `sqlalchemy`.

In [1]:
from sqlalchemy import inspect
from sqlalchemy import create_engine

engine = create_engine('sqlite:///imdb.db')
engine.connect()

inspector = inspect(engine)
table_names = inspector.get_table_names()

for table_name in table_names:
    print(f"Table:{table_name}")
    column_items = inspector.get_columns(table_name)
    print('\t'.join(n for n in column_items[0]))
    for c in column_items:
        assert len(c) == len(column_items[0])
        print('\t'.join(str(c[n]) for n in c))
    print()

Table:akas
name	type	nullable	default	autoincrement	primary_key
title_id	VARCHAR	True	None	auto	0
title	VARCHAR	True	None	auto	0
region	VARCHAR	True	None	auto	0
language	VARCHAR	True	None	auto	0
types	VARCHAR	True	None	auto	0
attributes	VARCHAR	True	None	auto	0
is_original_title	INTEGER	True	None	auto	0

Table:crew
name	type	nullable	default	autoincrement	primary_key
title_id	VARCHAR	True	None	auto	0
person_id	VARCHAR	True	None	auto	0
category	VARCHAR	True	None	auto	0
job	VARCHAR	True	None	auto	0
characters	VARCHAR	True	None	auto	0

Table:episodes
name	type	nullable	default	autoincrement	primary_key
episode_title_id	INTEGER	True	None	auto	0
show_title_id	INTEGER	True	None	auto	0
season_number	INTEGER	True	None	auto	0
eposide_number	INTEGER	True	None	auto	0

Table:people
name	type	nullable	default	autoincrement	primary_key
person_id	VARCHAR	True	None	auto	1
name	VARCHAR	True	None	auto	0
born	INTEGER	True	None	auto	0
died	INTEGER	True	None	auto	0

Table:ratings
name	type	nullable	default	autoincrement	primary_key
title_id	VARCHAR	True	None	auto	1
rating	INTEGER	True	None	auto	0
votes	INTEGER	True	None	auto	0

Table:titles
name	type	nullable	default	autoincrement	primary_key
title_id	VARCHAR	True	None	auto	1
type	VARCHAR	True	None	auto	0
primary_title	VARCHAR	True	None	auto	0
original_title	VARCHAR	True	None	auto	0
is_adult	INTEGER	True	None	auto	0
premiered	INTEGER	True	None	auto	0
ended	INTEGER	True	None	auto	0
runtime_minutes	INTEGER	True	None	auto	0
genres	VARCHAR	True	None	auto	0

In [2]:
# Setting up the classes SQLalchemy needs to work with the SQlite database

from sqlalchemy.orm import declarative_base
from sqlalchemy import Column, String, Integer

Base = declarative_base()

class People(Base):
    __tablename__ = "people"
    
    person_id = Column(String, primary_key=True)
    name = Column(String)
    born = Column(Integer)
    died = Column(Integer)

class Titles(Base):
    __tablename__ = 'titles'
    
    title_id = Column(String, primary_key=True)
    type = Column(String)
    primary_title = Column(String)
    original_title = Column(String)
    is_adult = Column(Integer)
    premiered = Column(Integer)
    ended = Column(Integer)
    runtime_minutes = Column(Integer)
    genres = Column(String)
    

class Crew(Base):
    __tablename__ = 'crew'
    
    title_id = Column(String, primary_key=True)
    person_id = Column(String)
    category = Column(String)
    job = Column(String)
    characters = Column(String)
    
    def __repr__(self):
        return f"{self.title_id} - {self.person_id} - {self.category} - {self.job} - {self.characters}"

In [3]:
from tqdm import tqdm
from collections import Counter
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

actors = [
    "Brad Pitt",
    "Angelina Jolie",
    "Johnny Depp",
    "Nicolas Cage",
    "Morgan Freeman",
    "Samuel L. Jackson",
    "Benedict Cumberbatch",
    "Robert Downey Jr.",
    "Ryan Gosling",
    "Liam Neeson",
    "Will Smith",
    "Leonardo DiCaprio",
    "Carice van Houten",
    "Hugh Jackman",
    "Tom Cruise",
    "Scarlett Johansson",
    "Will Smith",
    "Clint Eastwood",
    "Chris Pratt",
    "Jennifer Aniston",
    "Julia Roberts",
    "Anna Kendrick",
    "Kate Winslet"
]

per_actor = {}

for actor in tqdm(actors):
    result = session.query(Crew, Titles.primary_title, Titles.premiered, People.name).join(Titles, Titles.title_id==Crew.title_id).join(People, People.person_id==Crew.person_id).filter(People.name==actor, Titles.type=="movie").all()
    years = [title.premiered for title in result]
    per_actor[actor] = {
        "movies_per_year": dict(Counter(years)),
        "total": len(years)
    }

100%|██████████| 23/23 [05:17<00:00, 13.81s/it]

In [4]:
years = list(range(2014, 2021))
years

[2014, 2015, 2016, 2017, 2018, 2019, 2020]

In [5]:
imdb_time_series = []

for actor in per_actor:
    imdb_time_series.append({
        "title": {
            "english": f"Number of movies featuring {actor}",
            "dutch": f"Aantal films met {actor}"
        },
        "axis_label": {
            "english": "Number of movies",
            "dutch": "Aantal films"
        },
        "source": "https://www.imdb.com/interfaces/",
        "values": [per_actor[actor]['movies_per_year'].get(year, 0) for year in years]
    }) 
    
imdb_time_series

[{'title': {'english': 'Number of movies featuring Brad Pitt',
   'dutch': 'Aantal films met Brad Pitt'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [1, 3, 2, 1, 1, 3, 0]},
 {'title': {'english': 'Number of movies featuring Angelina Jolie',
   'dutch': 'Aantal films met Angelina Jolie'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [2, 1, 1, 1, 0, 1, 2]},
 {'title': {'english': 'Number of movies featuring Johnny Depp',
   'dutch': 'Aantal films met Johnny Depp'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [1, 2, 3, 2, 6, 1, 2]},
 {'title': {'english': 'Number of movies featuring Nicolas Cage',
   'dutch': 'Aantal films met Nicolas Cage'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [4, 3, 4, 6, 5, 7, 2]},
 {'title': {'english': 'Number of movies featuring Morgan Freeman',
   'dutch': 'Aantal films met Morgan Freeman'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [4, 2, 2, 2, 1, 1, 1]},
 {'title': {'english': 'Number of movies featuring Samuel L. Jackson',
   'dutch': 'Aantal films met Samuel L. Jackson'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [5, 2, 3, 3, 0, 5, 1]},
 {'title': {'english': 'Number of movies featuring Benedict Cumberbatch',
   'dutch': 'Aantal films met Benedict Cumberbatch'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [2, 2, 2, 2, 2, 0, 1]},
 {'title': {'english': 'Number of movies featuring Robert Downey Jr.',
   'dutch': 'Aantal films met Robert Downey Jr.'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [3, 1, 1, 1, 1, 2, 1]},
 {'title': {'english': 'Number of movies featuring Ryan Gosling',
   'dutch': 'Aantal films met Ryan Gosling'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [2, 1, 2, 2, 1, 0, 0]},
 {'title': {'english': 'Number of movies featuring Liam Neeson',
   'dutch': 'Aantal films met Liam Neeson'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [9, 1, 3, 2, 1, 3, 3]},
 {'title': {'english': 'Number of movies featuring Will Smith',
   'dutch': 'Aantal films met Will Smith'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [0, 2, 2, 2, 0, 2, 2]},
 {'title': {'english': 'Number of movies featuring Leonardo DiCaprio',
   'dutch': 'Aantal films met Leonardo DiCaprio'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [0, 1, 2, 1, 3, 3, 0]},
 {'title': {'english': 'Number of movies featuring Carice van Houten',
   'dutch': 'Aantal films met Carice van Houten'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [0, 1, 2, 0, 0, 1, 1]},
 {'title': {'english': 'Number of movies featuring Hugh Jackman',
   'dutch': 'Aantal films met Hugh Jackman'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [2, 3, 0, 2, 1, 3, 0]},
 {'title': {'english': 'Number of movies featuring Tom Cruise',
   'dutch': 'Aantal films met Tom Cruise'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [1, 2, 1, 2, 1, 1, 1]},
 {'title': {'english': 'Number of movies featuring Scarlett Johansson',
   'dutch': 'Aantal films met Scarlett Johansson'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [3, 1, 2, 2, 0, 2, 0]},
 {'title': {'english': 'Number of movies featuring Clint Eastwood',
   'dutch': 'Aantal films met Clint Eastwood'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [2, 1, 1, 1, 3, 1, 0]},
 {'title': {'english': 'Number of movies featuring Chris Pratt',
   'dutch': 'Aantal films met Chris Pratt'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [2, 1, 2, 1, 1, 2, 1]},
 {'title': {'english': 'Number of movies featuring Jennifer Aniston',
   'dutch': 'Aantal films met Jennifer Aniston'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [4, 0, 3, 0, 1, 1, 0]},
 {'title': {'english': 'Number of movies featuring Julia Roberts',
   'dutch': 'Aantal films met Julia Roberts'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [0, 1, 2, 1, 1, 0, 0]},
 {'title': {'english': 'Number of movies featuring Anna Kendrick',
   'dutch': 'Aantal films met Anna Kendrick'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [5, 2, 5, 3, 1, 2, 1]},
 {'title': {'english': 'Number of movies featuring Kate Winslet',
   'dutch': 'Aantal films met Kate Winslet'},
  'axis_label': {'english': 'Number of movies', 'dutch': 'Aantal films'},
  'source': 'https://www.imdb.com/interfaces/',
  'values': [2, 4, 1, 2, 1, 2, 2]}]

# KNMI data
Annual reviews of the KNMI (Dutch meteorology institute), counting the number of days in certain categories. The tables on their website can be scraped effortlessly straight into a Pandas dataframe using read_html()-functionality, which works great for this website and in one line of code returns a DataFrame containing the data we wanted.

In [6]:
import pandas as pd

days = {}

for year in years:
    table = pd.read_html(f'https://www.knmi.nl/nederland-nu/klimatologie/maand-en-seizoensoverzichten/{year}/jaar')
    
    table = table[0].replace('zomers dagen', 'zomerse dagen')
    
    try:
        days[year] = dict(zip(table[2][1:], table[0][1:]))
    except KeyError:
        days[year] = dict(zip(table.iloc[:, 2][1:], table.iloc[:, 0][1:]))

In [7]:
types_of_day = {
    'Tropische dagen': 'tropical days (>25 degrees Celcius)',
    'Zomerse dagen': 'summer days (>25 degrees Celcius)',
    'Warme dagen': 'warm days (>20 degrees Celcius)',
    'Vorstdagen': 'freezing days (<0 degrees Celcius)'
}

climate_time_series = []
for type_of_day in types_of_day.keys():
    values = []
    for year in years:
        if type_of_day in days[year]:
            values.append(int(days[year][type_of_day]))
        else:
            values.append(int(days[year][type_of_day.lower()]))
            
    climate_time_series.append({
        "title": {
            "english": f"Number of {types_of_day[type_of_day]} in de Bilt",
            "dutch": f"Aantal {type_of_day.lower()} in de Bilt"
        },
        "axis_label": {
            "english": "Number of days",
            "dutch": "Aantal dagen"
        },
        "source": "https://www.knmi.nl/nederland-nu/klimatologie/maand-en-seizoensoverzichten/",
        "values": values
    })

climate_time_series

[{'title': {'english': 'Number of tropical days (>25 degrees Celcius) in de Bilt',
   'dutch': 'Aantal tropische dagen in de Bilt'},
  'axis_label': {'english': 'Number of days', 'dutch': 'Aantal dagen'},
  'source': 'https://www.knmi.nl/nederland-nu/klimatologie/maand-en-seizoensoverzichten/',
  'values': [2, 5, 5, 3, 9, 11, 12]},
 {'title': {'english': 'Number of summer days (>25 degrees Celcius) in de Bilt',
   'dutch': 'Aantal zomerse dagen in de Bilt'},
  'axis_label': {'english': 'Number of days', 'dutch': 'Aantal dagen'},
  'source': 'https://www.knmi.nl/nederland-nu/klimatologie/maand-en-seizoensoverzichten/',
  'values': [23, 29, 31, 23, 55, 26, 32]},
 {'title': {'english': 'Number of warm days (>20 degrees Celcius) in de Bilt',
   'dutch': 'Aantal warme dagen in de Bilt'},
  'axis_label': {'english': 'Number of days', 'dutch': 'Aantal dagen'},
  'source': 'https://www.knmi.nl/nederland-nu/klimatologie/maand-en-seizoensoverzichten/',
  'values': [110, 69, 108, 105, 132, 99, 110]},
 {'title': {'english': 'Number of freezing days (<0 degrees Celcius) in de Bilt',
   'dutch': 'Aantal vorstdagen in de Bilt'},
  'axis_label': {'english': 'Number of days', 'dutch': 'Aantal dagen'},
  'source': 'https://www.knmi.nl/nederland-nu/klimatologie/maand-en-seizoensoverzichten/',
  'values': [27, 40, 60, 44, 50, 40, 31]}]

# Names of newborns
The SVB (Dutch social security bank) publishes yearly statistics on the number of names given to newborn babies. Only names occuring >25 times are included. The data is published in non-webscraper-friendly tables on their website, but those tables are fed by JSON textfiles which can be accessed as well.

In [8]:
import json
import requests

from collections import defaultdict

boy_names_urls = {
    "https://www.svbkindernamen.nl/nl/media/jongens-2016.txt": 2016,
    "https://www.svbkindernamen.nl/nl/media/jongens-2017.txt": 2017,
    "https://www.svbkindernamen.nl/nl/media/jongens-2018.txt": 2018,
    "https://www.svbkindernamen.nl/nl/media/jongens-2019.txt": 2019,
    "https://www.svbkindernamen.nl/nl/media/jongensnamen-2020-25-populair-json.txt": 2020,
}

girl_names_urls = {url.replace('jongens', 'meisjes'): year for url, year in boy_names_urls.items()}
urls = {**boy_names_urls, **girl_names_urls}

name_time_series = defaultdict(list)
for url, year in urls.items():
    names = json.loads(requests.get(url).content)['data']
    for record in names:
        name_time_series[record[0]].append(record[1])

name_time_series = dict(name_time_series)
name_time_series = [{
    "title": {
        "english": f"Number of newborns named {name}",
        "dutch": f"Aantal kinderen geboren met naam {name}"
    },
    "axis_label": {
        "english": "Number of newborns",
        "dutch": "Aantal kinderen"
    },
    "source": "hhttps://www.svbkindernamen.nl/",
    "values": values
} for name, values in name_time_series.items() if len(values) == len(boy_names_urls.keys())]

name_time_series

[{'title': {'english': 'Number of newborns named Kayden',
   'dutch': 'Aantal kinderen geboren met naam Kayden'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [25, 29, 27, 27, 25]},
 {'title': {'english': 'Number of newborns named Tommy',
   'dutch': 'Aantal kinderen geboren met naam Tommy'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [26, 31, 34, 40, 46]},
 {'title': {'english': 'Number of newborns named Mirza',
   'dutch': 'Aantal kinderen geboren met naam Mirza'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [26, 30, 33, 25, 45]},
 {'title': {'english': 'Number of newborns named Jackson',
   'dutch': 'Aantal kinderen geboren met naam Jackson'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [26, 38, 41, 54, 38]},
 {'title': {'english': 'Number of newborns named Samuël',
   'dutch': 'Aantal kinderen geboren met naam Samuël'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [27, 38, 35, 32, 29]},
 {'title': {'english': 'Number of newborns named Reza',
   'dutch': 'Aantal kinderen geboren met naam Reza'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [27, 34, 35, 29, 48]},
 {'title': {'english': 'Number of newborns named Otto',
   'dutch': 'Aantal kinderen geboren met naam Otto'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [27, 26, 31, 39, 42]},
 {'title': {'english': 'Number of newborns named Mateo',
   'dutch': 'Aantal kinderen geboren met naam Mateo'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [27, 42, 62, 90, 109]},
 {'title': {'english': 'Number of newborns named Yahya',
   'dutch': 'Aantal kinderen geboren met naam Yahya'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [28, 40, 39, 40, 45]},
 {'title': {'english': 'Number of newborns named Dexx',
   'dutch': 'Aantal kinderen geboren met naam Dexx'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [28, 35, 50, 45, 44]},
 {'title': {'english': 'Number of newborns named Bruno',
   'dutch': 'Aantal kinderen geboren met naam Bruno'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [28, 41, 31, 28, 44]},
 {'title': {'english': 'Number of newborns named Zion',
   'dutch': 'Aantal kinderen geboren met naam Zion'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [29, 28, 36, 45, 59]},
 {'title': {'english': 'Number of newborns named Yves',
   'dutch': 'Aantal kinderen geboren met naam Yves'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [29, 44, 42, 35, 50]},
 {'title': {'english': 'Number of newborns named Rafaël',
   'dutch': 'Aantal kinderen geboren met naam Rafaël'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [29, 42, 36, 48, 41]},
 {'title': {'english': 'Number of newborns named Musa',
   'dutch': 'Aantal kinderen geboren met naam Musa'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [29, 30, 41, 43, 56]},
 {'title': {'english': 'Number of newborns named Len',
   'dutch': 'Aantal kinderen geboren met naam Len'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [29, 41, 42, 40, 44]},
 {'title': {'english': 'Number of newborns named Jimi',
   'dutch': 'Aantal kinderen geboren met naam Jimi'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [29, 27, 29, 29, 30]},
 {'title': {'english': 'Number of newborns named Ensar',
   'dutch': 'Aantal kinderen geboren met naam Ensar'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [29, 27, 26, 27, 28]},
 {'title': {'english': 'Number of newborns named Dorian',
   'dutch': 'Aantal kinderen geboren met naam Dorian'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [29, 58, 44, 43, 51]},
 {'title': {'english': 'Number of newborns named Axel',
   'dutch': 'Aantal kinderen geboren met naam Axel'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [29, 29, 33, 41, 37]},
 {'title': {'english': 'Number of newborns named Robert',
   'dutch': 'Aantal kinderen geboren met naam Robert'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [30, 42, 40, 31, 39]},
 {'title': {'english': 'Number of newborns named Miles',
   'dutch': 'Aantal kinderen geboren met naam Miles'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [30, 34, 36, 45, 62]},
 {'title': {'english': 'Number of newborns named Jeremiah',
   'dutch': 'Aantal kinderen geboren met naam Jeremiah'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [30, 27, 30, 34, 31]},
 {'title': {'english': 'Number of newborns named Aleksander',
   'dutch': 'Aantal kinderen geboren met naam Aleksander'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [30, 36, 41, 34, 45]},
 {'title': {'english': 'Number of newborns named Moussa',
   'dutch': 'Aantal kinderen geboren met naam Moussa'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [31, 26, 40, 43, 48]},
 {'title': {'english': 'Number of newborns named Maximilian',
   'dutch': 'Aantal kinderen geboren met naam Maximilian'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [31, 35, 25, 38, 34]},
 {'title': {'english': 'Number of newborns named Dax',
   'dutch': 'Aantal kinderen geboren met naam Dax'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [31, 31, 28, 40, 49]},
 {'title': {'english': 'Number of newborns named Novan',
   'dutch': 'Aantal kinderen geboren met naam Novan'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [32, 43, 53, 61, 63]},
 {'title': {'english': 'Number of newborns named Menno',
   'dutch': 'Aantal kinderen geboren met naam Menno'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [32, 33, 27, 31, 37]},
 {'title': {'english': 'Number of newborns named Marcel',
   'dutch': 'Aantal kinderen geboren met naam Marcel'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [32, 51, 62, 56, 52]},
 {'title': {'english': 'Number of newborns named Manu',
   'dutch': 'Aantal kinderen geboren met naam Manu'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [32, 36, 30, 36, 43]},
 {'title': {'english': 'Number of newborns named Malik',
   'dutch': 'Aantal kinderen geboren met naam Malik'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [32, 37, 39, 37, 41]},
 {'title': {'english': 'Number of newborns named Leo',
   'dutch': 'Aantal kinderen geboren met naam Leo'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [32, 33, 56, 67, 86]},
 {'title': {'english': 'Number of newborns named Ilias',
   'dutch': 'Aantal kinderen geboren met naam Ilias'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [32, 41, 44, 31, 51]},
 {'title': {'english': 'Number of newborns named Ilay',
   'dutch': 'Aantal kinderen geboren met naam Ilay'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [32, 39, 44, 51, 64]},
 {'title': {'english': 'Number of newborns named Fos',
   'dutch': 'Aantal kinderen geboren met naam Fos'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [32, 33, 40, 55, 54]},
 {'title': {'english': 'Number of newborns named Valentino',
   'dutch': 'Aantal kinderen geboren met naam Valentino'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [33, 40, 33, 32, 28]},
 {'title': {'english': 'Number of newborns named Revi',
   'dutch': 'Aantal kinderen geboren met naam Revi'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [33, 41, 55, 56, 57]},
 {'title': {'english': 'Number of newborns named Mink',
   'dutch': 'Aantal kinderen geboren met naam Mink'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [33, 35, 50, 46, 38]},
 {'title': {'english': 'Number of newborns named Martin',
   'dutch': 'Aantal kinderen geboren met naam Martin'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [33, 29, 32, 36, 32]},
 {'title': {'english': 'Number of newborns named Joe',
   'dutch': 'Aantal kinderen geboren met naam Joe'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [33, 37, 40, 50, 73]},
 {'title': {'english': 'Number of newborns named Javi',
   'dutch': 'Aantal kinderen geboren met naam Javi'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [33, 42, 43, 39, 32]},
 {'title': {'english': 'Number of newborns named Davi',
   'dutch': 'Aantal kinderen geboren met naam Davi'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [33, 31, 41, 42, 37]},
 {'title': {'english': 'Number of newborns named Antoni',
   'dutch': 'Aantal kinderen geboren met naam Antoni'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [33, 36, 36, 58, 51]},
 {'title': {'english': 'Number of newborns named Wes',
   'dutch': 'Aantal kinderen geboren met naam Wes'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [34, 34, 36, 40, 28]},
 {'title': {'english': 'Number of newborns named Teunis',
   'dutch': 'Aantal kinderen geboren met naam Teunis'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [34, 34, 33, 27, 26]},
 {'title': {'english': 'Number of newborns named Micah',
   'dutch': 'Aantal kinderen geboren met naam Micah'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [34, 33, 34, 31, 25]},
 {'title': {'english': 'Number of newborns named Maher',
   'dutch': 'Aantal kinderen geboren met naam Maher'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [34, 56, 29, 47, 28]},
 {'title': {'english': 'Number of newborns named Jaylen',
   'dutch': 'Aantal kinderen geboren met naam Jaylen'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [34, 46, 39, 35, 26]},
 {'title': {'english': 'Number of newborns named Isaiah',
   'dutch': 'Aantal kinderen geboren met naam Isaiah'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [34, 41, 42, 41, 41]},
 {'title': {'english': 'Number of newborns named Albert',
   'dutch': 'Aantal kinderen geboren met naam Albert'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [34, 46, 37, 44, 36]},
 {'title': {'english': 'Number of newborns named Yassir',
   'dutch': 'Aantal kinderen geboren met naam Yassir'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [35, 35, 44, 32, 37]},
 {'title': {'english': 'Number of newborns named Kenzo',
   'dutch': 'Aantal kinderen geboren met naam Kenzo'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [35, 34, 29, 32, 25]},
 {'title': {'english': 'Number of newborns named Djayden',
   'dutch': 'Aantal kinderen geboren met naam Djayden'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [35, 34, 35, 36, 25]},
 {'title': {'english': 'Number of newborns named Bodi',
   'dutch': 'Aantal kinderen geboren met naam Bodi'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [35, 33, 31, 42, 60]},
 {'title': {'english': 'Number of newborns named Riv',
   'dutch': 'Aantal kinderen geboren met naam Riv'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [36, 47, 51, 52, 61]},
 {'title': {'english': 'Number of newborns named Peter',
   'dutch': 'Aantal kinderen geboren met naam Peter'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [36, 39, 33, 39, 37]},
 {'title': {'english': 'Number of newborns named Jimmy',
   'dutch': 'Aantal kinderen geboren met naam Jimmy'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [36, 44, 33, 48, 42]},
 {'title': {'english': 'Number of newborns named Yassine',
   'dutch': 'Aantal kinderen geboren met naam Yassine'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [37, 29, 28, 38, 28]},
 {'title': {'english': 'Number of newborns named Mex',
   'dutch': 'Aantal kinderen geboren met naam Mex'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [37, 40, 33, 27, 36]},
 {'title': {'english': 'Number of newborns named Jordy',
   'dutch': 'Aantal kinderen geboren met naam Jordy'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [37, 36, 34, 25, 25]},
 {'title': {'english': 'Number of newborns named George',
   'dutch': 'Aantal kinderen geboren met naam George'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [37, 39, 42, 48, 42]},
 {'title': {'english': 'Number of newborns named Dante',
   'dutch': 'Aantal kinderen geboren met naam Dante'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [37, 35, 42, 53, 60]},
 {'title': {'english': 'Number of newborns named Ayaz',
   'dutch': 'Aantal kinderen geboren met naam Ayaz'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [37, 38, 52, 53, 87]},
 {'title': {'english': 'Number of newborns named Viggo',
   'dutch': 'Aantal kinderen geboren met naam Viggo'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [38, 35, 44, 35, 50]},
 {'title': {'english': 'Number of newborns named Mitch',
   'dutch': 'Aantal kinderen geboren met naam Mitch'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [38, 45, 36, 29, 35]},
 {'title': {'english': 'Number of newborns named Jaivey',
   'dutch': 'Aantal kinderen geboren met naam Jaivey'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [38, 43, 71, 63, 73]},
 {'title': {'english': 'Number of newborns named Gideon',
   'dutch': 'Aantal kinderen geboren met naam Gideon'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [38, 30, 39, 33, 34]},
 {'title': {'english': 'Number of newborns named Lyam',
   'dutch': 'Aantal kinderen geboren met naam Lyam'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [39, 45, 42, 46, 48]},
 {'title': {'english': 'Number of newborns named Isaac',
   'dutch': 'Aantal kinderen geboren met naam Isaac'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [39, 40, 41, 51, 43]},
 {'title': {'english': 'Number of newborns named Toby',
   'dutch': 'Aantal kinderen geboren met naam Toby'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [40, 42, 46, 42, 45]},
 {'title': {'english': 'Number of newborns named Tibbe',
   'dutch': 'Aantal kinderen geboren met naam Tibbe'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [40, 46, 44, 49, 43]},
 {'title': {'english': 'Number of newborns named Ted',
   'dutch': 'Aantal kinderen geboren met naam Ted'},
  'axis_label': {'english': 'Number of newborns', 'dutch': 'Aantal kinderen'},
  'source': 'hhttps://www.svbkindernamen.nl/',
  'values': [40, 40, 46, 55, 97]},
 {'title': {'english': 'Number of newborns named Shane',

# Eredivisie
The Eredivisie (Dutch premier league soccer) produces a gold-mine of statistics. An easily accessible set of those can be found on ererat.nl. Applying pd.read_html() directly on the url doesn't work in this case, but it does after we use the good old requests + BeautifulSoup combo to isolate the table we need. 

Clubs can promote in and relegated out of the Eredivisie, so not all series are complete for every club. We only include series for clubs that were in the Eredevisie during the whole period we examine.

In [9]:
from bs4 import BeautifulSoup

urls = {
    "http://www.ererat.nl/asp/ererat_seizoen_clubstats.asp?report=5&sortitem=1&van=2014&tot=2020&clubid=-1": {"label": {"dutch": "Aantal rode kaarten voor voetbalclub", "english": "Number of red cards for soccer club"}, "axis_label": {"english": "Number of red cards", "dutch": "Aantal rode kaarten"}},
    "http://www.ererat.nl/asp/ererat_seizoen_clubstats.asp?van=2014&tot=2020&clubid=-1&report=4": {"label": {"dutch": "Aantal toeschouwers bij thuiswedstrijden voor voetbalclub", "english": "Number of spectators at homegames for soccer club"}, "axis_label": {"english": "Number of spectators", "dutch": "Aantal toeschouwers"}},
    "http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=1&van=2014&tot=2020&clubid=": {"label": {"dutch": "Aantal doelpunten voor voetbalclub", "english": "Number of goals for soccer club"}, "axis_label": {"english": "Number of goals", "dutch": "Aantal doelpunten"}},
    "http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=2&van=2014&tot=2020&clubid=-1": {"label": {"dutch": "Aantal doelpunten tegen voetbalclub", "english": "Number of goals against soccer club"}, "axis_label": {"english": "Number of goals", "dutch": "Aantal doelpunten"}},
    "http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=3&van=2014&tot=2020&clubid=-1": {"label": {"dutch": "Doelsaldo van voetbalclub", "english": "Goal difference for soccer club"}, "axis_label": {"english": "Goal difference", "dutch": "Doelsaldo"}},
    "http://www.ererat.nl/asp/ererat_seizoen_clubwedstrijden.asp?van=2014&tot=2020&clubid=-1&report=1": {"label": {"dutch": "Aantal wedstrijden geeindigd in winst voor voetbalclub", "english": "Number of games won by soccer club"}, "axis_label": {"english": "Number of games", "dutch": "Aantal wedstrijden"}},
    "http://www.ererat.nl/asp/ererat_seizoen_clubwedstrijden.asp?van=2014&tot=2020&clubid=-1&report=2": {"label": {"dutch": "Aantal wedstrijden geeindigd in gelijkspel voor voetbalclub", "english": "Number of games ended in a draw for soccer club"}, "axis_label": {"english": "Number of games", "dutch": "Aantal wedstrijden"}},
    "http://www.ererat.nl/asp/ererat_seizoen_clubwedstrijden.asp?van=2014&tot=2020&clubid=-1&report=3": {"label": {"dutch": "Aantal wedstrijden geeindigd in verlies voor voetbalclub", "english": "Number of games lost by soccer club"}, "axis_label": {"english": "Number of games", "dutch": "Aantal wedstrijden"}},
    "http://www.ererat.nl/asp/ererat_seizoen_clubstats.asp?van=2014&tot=2020&clubid=-1&report=3": {"label": {"dutch": "Aantal unieke spelers opgesteld door voetbalclub", "english": "Number unique players positioned by soccer club"}, "axis_label": {"english": "Number of players", "dutch": "Aantal spelers"}},
}

replacements = {
    "2014/2015": 2014,
    "2015/2016": 2015,
    "2016/2017": 2016,
    "2017/2018": 2017,
    "2018/2019": 2018,
    "2019/2020": 2019,
    "2020/2021": 2020
}

eredivisie_time_series = []
for url, labels in urls.items():
    response = requests.get(url)
    soup = BeautifulSoup(response.content)
    table = soup.find_all("table", {"class": "data_table"})[0]
    
    df = pd.read_html(str(table))[0]
    df = df.iloc[1:]
    
    for season, year in replacements.items():
        df = df.replace(season, year)
    
    clubs = list(set(df[1]))
    
    for club in clubs:
        values = []
        for year in years:
            try:
                values.append(int(df[(df[1]==club) & (df[5]==year)][4]))
            except:
                continue
        
        if len(values) == 7:
            eredivisie_time_series.append({
                "title": {
                    "english": f"{labels['label']['english']} {club}",
                    "dutch": f"{labels['label']['dutch']} {club}"
                },
                "axis_label": {
                    "english": labels['axis_label']['english'],
                    "dutch": labels['axis_label']['dutch']
                },
                "source": url,
                "values": values
            })
                
eredivisie_time_series

[{'title': {'english': 'Number of red cards for soccer club Ajax',
   'dutch': 'Aantal rode kaarten voor voetbalclub Ajax'},
  'axis_label': {'english': 'Number of red cards',
   'dutch': 'Aantal rode kaarten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubstats.asp?report=5&sortitem=1&van=2014&tot=2020&clubid=-1',
  'values': [1, 2, 2, 3, 2, 0, 2]},
 {'title': {'english': 'Number of red cards for soccer club AZ',
   'dutch': 'Aantal rode kaarten voor voetbalclub AZ'},
  'axis_label': {'english': 'Number of red cards',
   'dutch': 'Aantal rode kaarten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubstats.asp?report=5&sortitem=1&van=2014&tot=2020&clubid=-1',
  'values': [1, 3, 3, 3, 0, 2, 6]},
 {'title': {'english': 'Number of red cards for soccer club PEC Zwolle',
   'dutch': 'Aantal rode kaarten voor voetbalclub PEC Zwolle'},
  'axis_label': {'english': 'Number of red cards',
   'dutch': 'Aantal rode kaarten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubstats.asp?report=5&sortitem=1&van=2014&tot=2020&clubid=-1',
  'values': [5, 3, 5, 1, 3, 2, 5]},
 {'title': {'english': 'Number of red cards for soccer club PSV',
   'dutch': 'Aantal rode kaarten voor voetbalclub PSV'},
  'axis_label': {'english': 'Number of red cards',
   'dutch': 'Aantal rode kaarten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubstats.asp?report=5&sortitem=1&van=2014&tot=2020&clubid=-1',
  'values': [5, 1, 0, 3, 0, 4, 0]},
 {'title': {'english': 'Number of red cards for soccer club FC Utrecht',
   'dutch': 'Aantal rode kaarten voor voetbalclub FC Utrecht'},
  'axis_label': {'english': 'Number of red cards',
   'dutch': 'Aantal rode kaarten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubstats.asp?report=5&sortitem=1&van=2014&tot=2020&clubid=-1',
  'values': [4, 5, 2, 2, 6, 3, 1]},
 {'title': {'english': 'Number of red cards for soccer club FC Groningen',
   'dutch': 'Aantal rode kaarten voor voetbalclub FC Groningen'},
  'axis_label': {'english': 'Number of red cards',
   'dutch': 'Aantal rode kaarten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubstats.asp?report=5&sortitem=1&van=2014&tot=2020&clubid=-1',
  'values': [3, 1, 7, 3, 3, 4, 3]},
 {'title': {'english': 'Number of red cards for soccer club ADO Den Haag',
   'dutch': 'Aantal rode kaarten voor voetbalclub ADO Den Haag'},
  'axis_label': {'english': 'Number of red cards',
   'dutch': 'Aantal rode kaarten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubstats.asp?report=5&sortitem=1&van=2014&tot=2020&clubid=-1',
  'values': [4, 2, 4, 5, 1, 4, 2]},
 {'title': {'english': 'Number of red cards for soccer club Feyenoord',
   'dutch': 'Aantal rode kaarten voor voetbalclub Feyenoord'},
  'axis_label': {'english': 'Number of red cards',
   'dutch': 'Aantal rode kaarten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubstats.asp?report=5&sortitem=1&van=2014&tot=2020&clubid=-1',
  'values': [2, 2, 0, 4, 7, 0, 3]},
 {'title': {'english': 'Number of red cards for soccer club sc Heerenveen',
   'dutch': 'Aantal rode kaarten voor voetbalclub sc Heerenveen'},
  'axis_label': {'english': 'Number of red cards',
   'dutch': 'Aantal rode kaarten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubstats.asp?report=5&sortitem=1&van=2014&tot=2020&clubid=-1',
  'values': [5, 3, 5, 1, 4, 0, 3]},
 {'title': {'english': 'Number of red cards for soccer club Willem II',
   'dutch': 'Aantal rode kaarten voor voetbalclub Willem II'},
  'axis_label': {'english': 'Number of red cards',
   'dutch': 'Aantal rode kaarten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubstats.asp?report=5&sortitem=1&van=2014&tot=2020&clubid=-1',
  'values': [2, 1, 1, 2, 5, 0, 4]},
 {'title': {'english': 'Number of red cards for soccer club Vitesse',
   'dutch': 'Aantal rode kaarten voor voetbalclub Vitesse'},
  'axis_label': {'english': 'Number of red cards',
   'dutch': 'Aantal rode kaarten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubstats.asp?report=5&sortitem=1&van=2014&tot=2020&clubid=-1',
  'values': [2, 3, 4, 0, 9, 2, 5]},
 {'title': {'english': 'Number of red cards for soccer club Heracles Almelo',
   'dutch': 'Aantal rode kaarten voor voetbalclub Heracles Almelo'},
  'axis_label': {'english': 'Number of red cards',
   'dutch': 'Aantal rode kaarten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubstats.asp?report=5&sortitem=1&van=2014&tot=2020&clubid=-1',
  'values': [3, 1, 3, 3, 4, 1, 2]},
 {'title': {'english': 'Number of goals for soccer club Ajax',
   'dutch': 'Aantal doelpunten voor voetbalclub Ajax'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=1&van=2014&tot=2020&clubid=',
  'values': [69, 81, 79, 89, 119, 68, 93]},
 {'title': {'english': 'Number of goals for soccer club AZ',
   'dutch': 'Aantal doelpunten voor voetbalclub AZ'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=1&van=2014&tot=2020&clubid=',
  'values': [63, 70, 56, 72, 64, 54, 69]},
 {'title': {'english': 'Number of goals for soccer club PEC Zwolle',
   'dutch': 'Aantal doelpunten voor voetbalclub PEC Zwolle'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=1&van=2014&tot=2020&clubid=',
  'values': [59, 56, 39, 42, 44, 37, 40]},
 {'title': {'english': 'Number of goals for soccer club PSV',
   'dutch': 'Aantal doelpunten voor voetbalclub PSV'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=1&van=2014&tot=2020&clubid=',
  'values': [92, 88, 68, 87, 98, 54, 67]},
 {'title': {'english': 'Number of goals for soccer club FC Utrecht',
   'dutch': 'Aantal doelpunten voor voetbalclub FC Utrecht'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=1&van=2014&tot=2020&clubid=',
  'values': [60, 57, 54, 58, 60, 50, 51]},
 {'title': {'english': 'Number of goals for soccer club FC Groningen',
   'dutch': 'Aantal doelpunten voor voetbalclub FC Groningen'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=1&van=2014&tot=2020&clubid=',
  'values': [49, 41, 55, 50, 39, 27, 36]},
 {'title': {'english': 'Number of goals for soccer club ADO Den Haag',
   'dutch': 'Aantal doelpunten voor voetbalclub ADO Den Haag'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=1&van=2014&tot=2020&clubid=',
  'values': [44, 48, 37, 45, 58, 25, 25]},
 {'title': {'english': 'Number of goals for soccer club Feyenoord',
   'dutch': 'Aantal doelpunten voor voetbalclub Feyenoord'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=1&van=2014&tot=2020&clubid=',
  'values': [56, 62, 86, 76, 75, 50, 60]},
 {'title': {'english': 'Number of goals for soccer club sc Heerenveen',
   'dutch': 'Aantal doelpunten voor voetbalclub sc Heerenveen'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=1&van=2014&tot=2020&clubid=',
  'values': [53, 46, 54, 48, 64, 41, 41]},
 {'title': {'english': 'Number of goals for soccer club Willem II',
   'dutch': 'Aantal doelpunten voor voetbalclub Willem II'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=1&van=2014&tot=2020&clubid=',
  'values': [46, 35, 29, 50, 58, 37, 34]},
 {'title': {'english': 'Number of goals for soccer club Vitesse',
   'dutch': 'Aantal doelpunten voor voetbalclub Vitesse'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=1&van=2014&tot=2020&clubid=',
  'values': [66, 55, 51, 63, 70, 45, 48]},
 {'title': {'english': 'Number of goals for soccer club Heracles Almelo',
   'dutch': 'Aantal doelpunten voor voetbalclub Heracles Almelo'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=1&van=2014&tot=2020&clubid=',
  'values': [47, 47, 53, 50, 61, 40, 40]},
 {'title': {'english': 'Number of goals against soccer club Ajax',
   'dutch': 'Aantal doelpunten tegen voetbalclub Ajax'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=2&van=2014&tot=2020&clubid=-1',
  'values': [29, 21, 23, 33, 32, 23, 21]},
 {'title': {'english': 'Number of goals against soccer club AZ',
   'dutch': 'Aantal doelpunten tegen voetbalclub AZ'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=2&van=2014&tot=2020&clubid=-1',
  'values': [56, 53, 52, 38, 43, 17, 40]},
 {'title': {'english': 'Number of goals against soccer club PEC Zwolle',
   'dutch': 'Aantal doelpunten tegen voetbalclub PEC Zwolle'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=2&van=2014&tot=2020&clubid=-1',
  'values': [43, 54, 67, 54, 57, 55, 48]},
 {'title': {'english': 'Number of goals against soccer club PSV',
   'dutch': 'Aantal doelpunten tegen voetbalclub PSV'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=2&van=2014&tot=2020&clubid=-1',
  'values': [31, 32, 23, 39, 26, 28, 32]},
 {'title': {'english': 'Number of goals against soccer club FC Utrecht',
   'dutch': 'Aantal doelpunten tegen voetbalclub FC Utrecht'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=2&van=2014&tot=2020&clubid=-1',
  'values': [62, 48, 38, 53, 51, 34, 40]},
 {'title': {'english': 'Number of goals against soccer club FC Groningen',
   'dutch': 'Aantal doelpunten tegen voetbalclub FC Groningen'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=2&van=2014&tot=2020&clubid=-1',
  'values': [53, 48, 51, 50, 41, 26, 36]},
 {'title': {'english': 'Number of goals against soccer club ADO Den Haag',
   'dutch': 'Aantal doelpunten tegen voetbalclub ADO Den Haag'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=2&van=2014&tot=2020&clubid=-1',
  'values': [53, 49, 59, 53, 63, 54, 69]},
 {'title': {'english': 'Number of goals against soccer club Feyenoord',
   'dutch': 'Aantal doelpunten tegen voetbalclub Feyenoord'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=2&van=2014&tot=2020&clubid=-1',
  'values': [39, 40, 25, 39, 41, 35, 32]},
 {'title': {'english': 'Number of goals against soccer club sc Heerenveen',
   'dutch': 'Aantal doelpunten tegen voetbalclub sc Heerenveen'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=2&van=2014&tot=2020&clubid=-1',
  'values': [46, 61, 53, 53, 73, 41, 44]},
 {'title': {'english': 'Number of goals against soccer club Willem II',
   'dutch': 'Aantal doelpunten tegen voetbalclub Willem II'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=2&van=2014&tot=2020&clubid=-1',
  'values': [50, 53, 44, 63, 72, 34, 64]},
 {'title': {'english': 'Number of goals against soccer club Vitesse',
   'dutch': 'Aantal doelpunten tegen voetbalclub Vitesse'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=2&van=2014&tot=2020&clubid=-1',
  'values': [43, 38, 40, 47, 51, 35, 29]},
 {'title': {'english': 'Number of goals against soccer club Heracles Almelo',
   'dutch': 'Aantal doelpunten tegen voetbalclub Heracles Almelo'},
  'axis_label': {'english': 'Number of goals', 'dutch': 'Aantal doelpunten'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=2&van=2014&tot=2020&clubid=-1',
  'values': [64, 49, 55, 64, 68, 34, 46]},
 {'title': {'english': 'Goal difference for soccer club Ajax',
   'dutch': 'Doelsaldo van voetbalclub Ajax'},
  'axis_label': {'english': 'Goal difference', 'dutch': 'Doelsaldo'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=3&van=2014&tot=2020&clubid=-1',
  'values': [40, 60, 56, 56, 87, 45, 72]},
 {'title': {'english': 'Goal difference for soccer club AZ',
   'dutch': 'Doelsaldo van voetbalclub AZ'},
  'axis_label': {'english': 'Goal difference', 'dutch': 'Doelsaldo'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=3&van=2014&tot=2020&clubid=-1',
  'values': [7, 17, 4, 34, 21, 37, 29]},
 {'title': {'english': 'Goal difference for soccer club PEC Zwolle',
   'dutch': 'Doelsaldo van voetbalclub PEC Zwolle'},
  'axis_label': {'english': 'Goal difference', 'dutch': 'Doelsaldo'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=3&van=2014&tot=2020&clubid=-1',
  'values': [16, 2, -28, -12, -13, -18, -8]},
 {'title': {'english': 'Goal difference for soccer club PSV',
   'dutch': 'Doelsaldo van voetbalclub PSV'},
  'axis_label': {'english': 'Goal difference', 'dutch': 'Doelsaldo'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=3&van=2014&tot=2020&clubid=-1',
  'values': [61, 56, 45, 48, 72, 26, 35]},
 {'title': {'english': 'Goal difference for soccer club FC Utrecht',
   'dutch': 'Doelsaldo van voetbalclub FC Utrecht'},
  'axis_label': {'english': 'Goal difference', 'dutch': 'Doelsaldo'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=3&van=2014&tot=2020&clubid=-1',
  'values': [-2, 9, 16, 5, 9, 16, 11]},
 {'title': {'english': 'Goal difference for soccer club ADO Den Haag',
   'dutch': 'Doelsaldo van voetbalclub ADO Den Haag'},
  'axis_label': {'english': 'Goal difference', 'dutch': 'Doelsaldo'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=3&van=2014&tot=2020&clubid=-1',
  'values': [-9, -1, -22, -8, -5, -29, -44]},
 {'title': {'english': 'Goal difference for soccer club Feyenoord',
   'dutch': 'Doelsaldo van voetbalclub Feyenoord'},
  'axis_label': {'english': 'Goal difference', 'dutch': 'Doelsaldo'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=3&van=2014&tot=2020&clubid=-1',
  'values': [17, 22, 61, 37, 34, 15, 28]},
 {'title': {'english': 'Goal difference for soccer club sc Heerenveen',
   'dutch': 'Doelsaldo van voetbalclub sc Heerenveen'},
  'axis_label': {'english': 'Goal difference', 'dutch': 'Doelsaldo'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=3&van=2014&tot=2020&clubid=-1',
  'values': [7, -15, 1, -5, -9, 0, -3]},
 {'title': {'english': 'Goal difference for soccer club Willem II',
   'dutch': 'Doelsaldo van voetbalclub Willem II'},
  'axis_label': {'english': 'Goal difference', 'dutch': 'Doelsaldo'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=3&van=2014&tot=2020&clubid=-1',
  'values': [-4, -18, -15, -13, -14, 3, -30]},
 {'title': {'english': 'Goal difference for soccer club Vitesse',
   'dutch': 'Doelsaldo van voetbalclub Vitesse'},
  'axis_label': {'english': 'Goal difference', 'dutch': 'Doelsaldo'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=3&van=2014&tot=2020&clubid=-1',
  'values': [23, 17, 11, 16, 19, 10, 19]},
 {'title': {'english': 'Goal difference for soccer club FC Groningen',
   'dutch': 'Doelsaldo van voetbalclub FC Groningen'},
  'axis_label': {'english': 'Goal difference', 'dutch': 'Doelsaldo'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=3&van=2014&tot=2020&clubid=-1',
  'values': [-4, -7, 4, 0, -2, 1, 0]},
 {'title': {'english': 'Goal difference for soccer club Heracles Almelo',
   'dutch': 'Doelsaldo van voetbalclub Heracles Almelo'},
  'axis_label': {'english': 'Goal difference', 'dutch': 'Doelsaldo'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubgoals.asp?goals=3&van=2014&tot=2020&clubid=-1',
  'values': [-17, -2, -2, -14, -7, 6, -6]},
 {'title': {'english': 'Number of games won by soccer club Ajax',
   'dutch': 'Aantal wedstrijden geeindigd in winst voor voetbalclub Ajax'},
  'axis_label': {'english': 'Number of games', 'dutch': 'Aantal wedstrijden'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubwedstrijden.asp?van=2014&tot=2020&clubid=-1&report=1',
  'values': [21, 25, 25, 25, 28, 18, 25]},
 {'title': {'english': 'Number of games won by soccer club AZ',
   'dutch': 'Aantal wedstrijden geeindigd in winst voor voetbalclub AZ'},
  'axis_label': {'english': 'Number of games', 'dutch': 'Aantal wedstrijden'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubwedstrijden.asp?van=2014&tot=2020&clubid=-1&report=1',
  'values': [19, 18, 12, 23, 18, 18, 20]},
 {'title': {'english': 'Number of games won by soccer club PEC Zwolle',
   'dutch': 'Aantal wedstrijden geeindigd in winst voor voetbalclub PEC Zwolle'},
  'axis_label': {'english': 'Number of games', 'dutch': 'Aantal wedstrijden'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubwedstrijden.asp?van=2014&tot=2020&clubid=-1&report=1',
  'values': [16, 14, 9, 12, 11, 7, 8]},
 {'title': {'english': 'Number of games won by soccer club PSV',
   'dutch': 'Aantal wedstrijden geeindigd in winst voor voetbalclub PSV'},
  'axis_label': {'english': 'Number of games', 'dutch': 'Aantal wedstrijden'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubwedstrijden.asp?van=2014&tot=2020&clubid=-1&report=1',
  'values': [29, 26, 22, 26, 26, 14, 19]},
 {'title': {'english': 'Number of games won by soccer club FC Utrecht',
   'dutch': 'Aantal wedstrijden geeindigd in winst voor voetbalclub FC Utrecht'},
  'axis_label': {'english': 'Number of games', 'dutch': 'Aantal wedstrijden'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubwedstrijden.asp?van=2014&tot=2020&clubid=-1&report=1',
  'values': [11, 15, 18, 14, 15, 12, 13]},
 {'title': {'english': 'Number of games won by soccer club FC Groningen',
   'dutch': 'Aantal wedstrijden geeindigd in winst voor voetbalclub FC Groningen'},
  'axis_label': {'english': 'Number of games', 'dutch': 'Aantal wedstrijden'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubwedstrijden.asp?van=2014&tot=2020&clubid=-1&report=1',
  'values': [11, 14, 10, 8, 13, 10, 13]},
 {'title': {'english': 'Number of games won by soccer club ADO Den Haag',
   'dutch': 'Aantal wedstrijden geeindigd in winst voor voetbalclub ADO Den Haag'},
  'axis_label': {'english': 'Number of games', 'dutch': 'Aantal wedstrijden'},
  'source': 'http://www.ererat.nl/asp/ererat_seizoen_clubwedstrijden.asp?van=2014&tot=2020&clubid=-1&report=1',
  'values': [9, 10, 11, 13, 12, 4, 3]},
 {'title': {'english': 'Number of games won by soccer club Feyenoord',
   'dutch': 'Aantal wedstrijden geeindigd in winst voor voetbalclub Feyenoord'},

# ProCyclingStats
As a cycling-enthusiast, I couldn't exclude statistics from the pro-cycling peloton from this project. Again, after isolating the table we want from a given webpage (containing the classification for an edition of a race), pd.read_html() parses that table into a DataFrame.

In [10]:
races = {
    "Strade Bianche": "https://www.procyclingstats.com/race/strade-bianche/",
    "Milano-Sanremo": "https://www.procyclingstats.com/race/milano-sanremo/",
    "Ronde van Vlaanderen": "https://www.procyclingstats.com/race/ronde-van-vlaanderen/",
    "Liege-Bastogne-Liege": "https://www.procyclingstats.com/race/liege-bastogne-liege/",
    "Il Lombardia": "https://www.procyclingstats.com/race/il-lombardia/",
    "World Championship Individual Time Trial": "https://www.procyclingstats.com/race/world-championship-itt/",
    "World Championship Road Race": "https://www.procyclingstats.com/race/world-championship/",
    "Dutch National Championship Road Race": "https://www.procyclingstats.com/race/nc-netherlands/",
}

def remove_team_name_from_rider_name(rider_name, team_name):
    
    if not type(team_name) == float:
        return rider_name.replace(team_name, '')
    else:
        return rider_name

def switch_first_and_last_name(full_name):
    first_name = ' '.join([word for word in full_name.split(' ') if not word.isupper()])
    last_name = ' '.join([word for word in full_name.split(' ') if word.isupper()])
    
    return f"{first_name} {last_name.title()}"

from collections import defaultdict

classifications_per_rider = defaultdict(list)
pcs_time_series = []

for race, url in races.items():
    for year in years:
        result_url = url + str(year)         
        response = requests.get(result_url)
        soup = BeautifulSoup(response.content)

        table = soup.find("table", {"class": "basic results moblist10"})
        df = pd.read_html(str(table))[0]
        
        df['Rider'] = df.apply(lambda row: remove_team_name_from_rider_name(row['Rider'], row['Team']), axis=1)
        df['Rider'] = df.apply(lambda row: switch_first_and_last_name(row['Rider']), axis=1)
                
        for rider, result in dict(zip(df['Rider'], df['Rnk'])).items():
            try:
                classifications_per_rider[f"{rider} in {race}"].append(int(result))
            except:
                continue

classifications_per_rider

defaultdict(list,
            {'Michał Kwiatkowski in Strade Bianche': [1, 20, 1, 30, 12],
             'Peter Sagan in Strade Bianche': [2, 31, 4, 8],
             'Alejandro Valverde in Strade Bianche': [3, 3, 10, 4],
             'Damiano Cunego in Strade Bianche': [4, 16],
             'Roman Kreuziger in Strade Bianche': [5, 11, 20],
             'Fabian Cancellara in Strade Bianche': [6, 19, 1],
             'Cadel Evans in Strade Bianche': [7],
             'Warren Barguil in Strade Bianche': [8],
             'Wout Poels in Strade Bianche': [9],
             'Simon Geschke in Strade Bianche': [10],
             'Salvatore Puccio in Strade Bianche': [11, 13, 43, 33, 22, 28],
             'Tom Dumoulin in Strade Bianche': [12, 5, 21],
             'Matteo Trentin in Strade Bianche': [13, 19, 21],
             'Michał Gołaś in Strade Bianche': [14, 40, 59, 54],
             'Ángel Vicioso in Strade Bianche': [15, 12, 87],
             'Ian Stannard in Strade Bianche': [16],
             'Andrey Amador in Strade Bianche': [17, 58, 42, 29, 18],
             'Christopher Juul-Jensen in Strade Bianche': [18, 28, 7, 19],
             'Franco Pellizotti in Strade Bianche': [19],
             'Georg Preidler in Strade Bianche': [20, 49, 1005],
             'Diego Ulissi in Strade Bianche': [21, 7, 44, 16],
             'Marco Canola in Strade Bianche': [22, 82, 55, 16],
             'Michael Schär in Strade Bianche': [23, 35, 34, 28],
             'Miguel Angel Rubiano in Strade Bianche': [24],
             'Martin Elmiger in Strade Bianche': [25],
             'Alessandro Bazzana in Strade Bianche': [26],
             'Steve Morabito in Strade Bianche': [27],
             'Calvin Watson in Strade Bianche': [28],
             'Reto Hollenstein in Strade Bianche': [29],
             'Matthias Brändle in Strade Bianche': [30],
             'Manuel Quinziato in Strade Bianche': [31, 41, 70],
             'Sergio Pardilla in Strade Bianche': [32],
             'Gustav Erik Larsson in Strade Bianche': [33],
             'Andrey Grivko in Strade Bianche': [34, 22, 21, 30, 24],
             'Eduard Vorganov in Strade Bianche': [35, 23],
             'Dmitry Kozontchuk in Strade Bianche': [36, 49],
             'Oscar Gatto in Strade Bianche': [37, 6, 81, 22, 74],
             'Jonathan Castroviejo in Strade Bianche': [38],
             'Samuel Sánchez in Strade Bianche': [39, 15],
             'Rodolfo Andrés Torres in Strade Bianche': [40],
             'Dario Cataldo in Strade Bianche': [41, 51],
             'Tanel Kangert in Strade Bianche': [42, 72],
             'Beñat Intxausti in Strade Bianche': [43],
             'Moreno Moser in Strade Bianche': [44, 46, 38],
             'Marco Frapporti in Strade Bianche': [45, 80],
             'Hayden Roulston in Strade Bianche': [46, 25],
             'Jarlinson Pantano in Strade Bianche': [47],
             'Mauro Finetto in Strade Bianche': [48, 33],
             'Thomas Löfkvist in Strade Bianche': [49],
             'Tobias Ludvigsson in Strade Bianche': [50],
             'Daniele Bennati in Strade Bianche': [51, 61, 54],
             'Matteo Tosatto in Strade Bianche': [52],
             'Ben Swift in Strade Bianche': [53],
             'Nicolas Roche in Strade Bianche': [54],
             'Rigoberto Urán in Strade Bianche': [55, 7, 64],
             'Maxim Iglinskiy in Strade Bianche': [56],
             'Andrey Zeits in Strade Bianche': [57],
             'Angelo Pagani in Strade Bianche': [58],
             'Paolo Colonna in Strade Bianche': [59],
             'Martijn Maaskant in Strade Bianche': [60],
             'Alexey Lutsenko in Strade Bianche': [61, 54, 26, 7],
             'Simone Ponzi in Strade Bianche': [62, 41],
             'Matteo Rabottini in Strade Bianche': [63],
             'Marc De Maar in Strade Bianche': [64],
             'Nicola Testi in Strade Bianche': [65],
             'Diego Rosa in Strade Bianche': [66, 5, 83, 24, 10],
             'Markel Irizar in Strade Bianche': [67, 63, 85],
             'Daniel Teklehaimanot in Strade Bianche': [68],
             'Dominik Nerz in Strade Bianche': [69],
             'Marcel Aregger in Strade Bianche': [70],
             'Larry Warbasse in Strade Bianche': [71],
             'Johannes Fröhlinger in Strade Bianche': [72],
             'Sebastián Henao in Strade Bianche': [73],
             'Alexandr Kolobnev in Strade Bianche': [74],
             'Kristian Sbaragli in Strade Bianche': [75],
             'Edward Fabián Díaz in Strade Bianche': [76],
             'Jonathan Paredes in Strade Bianche': [77],
             'Darwin Atapuma in Strade Bianche': [78],
             'Alessandro Petacchi in Strade Bianche': [79],
             'Jens Voigt in Strade Bianche': [80],
             'Jacopo Guarnieri in Strade Bianche': [81],
             'Tom Stamsnijder in Strade Bianche': [82],
             'Johnny Hoogerland in Strade Bianche': [83],
             'Bernhard Eisel in Strade Bianche': [84],
             'Marco Bandiera in Strade Bianche': [85, 79],
             'Maciej Bodnar in Strade Bianche': [86, 32, 44],
             'Enrico Barbin in Strade Bianche': [87, 74],
             'Andrea Palini in Strade Bianche': [88],
             'Filippo Fortin in Strade Bianche': [89],
             'Davide Frattini in Strade Bianche': [90],
             'Nathan Earle in Strade Bianche': [91],
             'Manuele Boaro in Strade Bianche': [92, 38, 34],
             'Michael Mørkøv in Strade Bianche': [93],
             'Andrea Fedi in Strade Bianche': [94],
             'Luca Paolini in Strade Bianche': [95],
             'Davide Cimolai in Strade Bianche': [96],
             'Alberto Bettiol in Strade Bianche': [97, 78, 4],
             'Matthias Krizek in Strade Bianche': [98],
             'Ian Boswell in Strade Bianche': [99],
             'Eugenio Alafaci in Strade Bianche': [100],
             'Fabio Duarte in Strade Bianche': [101],
             'Niccolò Bonifazio in Strade Bianche': [],
             'Jasha Sütterlin in Strade Bianche': [76, 55],
             'Manuele Mori in Strade Bianche': [],
             'Tom Peterson in Strade Bianche': [],
             'Samuele Conti in Strade Bianche': [],
             'Mark Cavendish in Strade Bianche': [],
             'Sérgio Miguel Paulinho in Strade Bianche': [],
             'Manuel Belletti in Strade Bianche': [],
             'Nicola Boem in Strade Bianche': [],
             'Enrique Sanz in Strade Bianche': [],
             'Filippo Pozzato in Strade Bianche': [27, 63],
             'Dennis Van Niekerk in Strade Bianche': [],
             'Francesco Failli in Strade Bianche': [],
             'Adrien Niyonshuti in Strade Bianche': [],
             'Benjamin Day in Strade Bianche': [],
             'Dmitriy Muravyev in Strade Bianche': [],
             'Patrick Schelling in Strade Bianche': [],
             'Pablo Lastras in Strade Bianche': [62],
             'Kristijan Koren in Strade Bianche': [67],
             'Maxim Belkov in Strade Bianche': [88],
             'Fabio Taborre in Strade Bianche': [],
             'Meron Russom in Strade Bianche': [],
             'Lucas Euser in Strade Bianche': [],
             'Mirko Tedeschi in Strade Bianche': [],
             'Pirmin Lang in Strade Bianche': [],
             'Songezo Jim in Strade Bianche': [],
             'Alan Marangoni in Strade Bianche': [],
             'Darwin Ferney Pantoja in Strade Bianche': [],
             'Mark Renshaw in Strade Bianche': [],
             'Marco Coledan in Strade Bianche': [84],
             'Chris Jones in Strade Bianche': [],
             'Riccardo Zoidl in Strade Bianche': [],
             'Rüdiger Selig in Strade Bianche': [],
             'Jani Tewelde in Strade Bianche': [],
             'Francisco José Ventoso in Strade Bianche': [],
             'Fredrik Kessiakoff in Strade Bianche': [],
             'Donato De Ieso in Strade Bianche': [],
             'Kiel Reijnen in Strade Bianche': [59, 79],
             'Yaroslav Popovych in Strade Bianche': [],
             'Luca Dodi in Strade Bianche': [],
             'Matteo Di Serafino in Strade Bianche': [],
             'Vladimir Gusev in Strade Bianche': [],
             'Zdeněk Štybar in Strade Bianche': [1, 2, 4, 7, 4, 6],
             'Greg Van Avermaet in Strade Bianche': [2, 6, 2, 34, 6, 8],
             'Sep Vanmarcke in Strade Bianche': [4, 41],
             'Fabio Felline in Strade Bianche': [8, 13],
             'Przemysław Niemiec in Strade Bianche': [9, 64],
             'Giampaolo Caruso in Strade Bianche': [10],
             'Julien Vermote in Strade Bianche': [14, 27, 34, 25],
             'Luke Durbridge in Strade Bianche': [17, 31, 6, 18],
             'Daniel Oss in Strade Bianche': [18, 14, 66, 12, 27],
             'Pieter Serry in Strade Bianche': [20, 9, 13],
             'Esteban Chaves in Strade Bianche': [21],
             'Matteo Montaguti in Strade Bianche': [24, 50, 42],
             'Nathan Haas in Strade Bianche': [26, 31, 79],
             'Mathew Hayman in Strade Bianche': [29],
             'Giovanni Visconti in Strade Bianche': [30, 16, 25, 5],
             'Magnus Cort in Strade Bianche': [34],
             'Francesco Gavazzi in Strade Bianche': [35],
             'Elia Favilli in Strade Bianche': [36],
             'Damiano Caruso in Strade Bianche': [37, 47, 43],
             'Alexey Tsatevich in Strade Bianche': [39],
             'Vincenzo Nibali in Strade Bianche': [40, 15, 44, 31],
             'Pavel Kochetkov in Strade Bianche': [42],
             'Luka Pibernik in Strade Bianche': [43, 39],
             'Iuri Filosi in Strade Bianche': [44, 41],
             'José Rodolfo Serpa in Strade Bianche': [45],
             'Xabier Zandio in Strade Bianche': [47],
             'Marco Aurelio Fontana in Strade Bianche': [48],
             'Alexander Porsev in Strade Bianche': [50],
             'Alessandro De Marchi in Strade Bianche': [51, 46, 33],
             'Andrei Solomennikov in Strade Bianche': [52],
             'Ildar Arslanov in Strade Bianche': [53],
             'Niki Terpstra in Strade Bianche': [55],
             'Sonny Colbrelli in Strade Bianche': [56, 32],
             'Paul Martens in Strade Bianche': [57, 77],
             'Fabio Sabatini in Strade Bianche': [59],
             'Ruslan Tleubayev in Strade Bianche': [60],
             'Ivan Balykin in Strade Bianche': [64],
             'Serghei Țvetcov in Strade Bianche': [65],
             'Carlos Verona in Strade Bianche': [66],
             'Roman Maikin in Strade Bianche': [68],
             'Kristoffer Skjerping in Strade Bianche': [69],
             'David Lozano in Strade Bianche': [70],
             'Davide Appollonio in Strade Bianche': [71],
             'Artem Ovechkin in Strade Bianche': [72],
             'Dmitriy Gruzdev in Strade Bianche': [73],
             'Ryder Hesjedal in Strade Bianche': [75],
             'Svein Tuft in Strade Bianche': [77],
             'Lars Boom in Strade Bianche': [78],
             'Lloyd Mondory in Strade Bianche': [79],
             'Rinaldo Nocentini in Strade Bianche': [79],
             'Daniele Colli in Strade Bianche': [80],
             'Rick Flens in Strade Bianche': [81],
             'Andrew Fenn in Strade Bianche': [83],
             'Manabu Ishibashi in Strade Bianche': [84],
             'Peter Stetina in Strade Bianche': [],
             'Nicola Ruffoni in Strade Bianche': [],
             'Javier Megías in Strade Bianche': [],
             'Giacomo Berlato in Strade Bianche': [],
             'Robert Wagner in Strade Bianche': [],
             'Pierre Latour in Strade Bianche': [19],
             'Christian Knees in Strade Bianche': [78],
             'Stefano Pirazzi in Strade Bianche': [],
             'Carlos Betancur in Strade Bianche': [83],
             'Joonas Henttala in Strade Bianche': [],
             'Seid Lizde in Strade Bianche': [],
             'Enrico Battaglin in Strade Bianche': [52, 31, 47],
             'Nicolas Lefrancois in Strade Bianche': [],
             "Tiziano Dall'Antonia in Strade Bianche": [67],
             'Juraj Sagan in Strade Bianche': [],
             'Yonathan Monsalve in Strade Bianche': [],
             'Adam Yates in Strade Bianche': [],
             'Roman Kustadinchev in Strade Bianche': [],
             'Simon Gerrans in Strade Bianche': [],
             'Alessandro Bisolti in Strade Bianche': [],
             'Martijn Verschoor in Strade Bianche': [69],
             'Kevin De Weert in Strade Bianche': [],
             'Julián David Arredondo in Strade Bianche': [],
             'Damien Gaudin in Strade Bianche': [],
             'Michael Hepburn in Strade Bianche': [],
             'Petr Ignatenko in Strade Bianche': [],
             'Brent Bookwalter in Strade Bianche': [12, 26, 21, 7],
             'Antonio Nibali in Strade Bianche': [],
             'Francesco Manuel Bongiorno in Strade Bianche': [],
             'Christopher Williams in Strade Bianche': [],
             'Alberto Nardin in Strade Bianche': [],
             'Eugert Zhupa in Strade Bianche': [85],
             'Marc Soler in Strade Bianche': [],
             'Hubert Dupont in Strade Bianche': [],
             'Elia Viviani in Strade Bianche': [],
             'Charles Planet in Strade Bianche': [65],
             'Ilia Koshevoy in Strade Bianche': [],
             'Eduard-Michael Grosu in Strade Bianche': [53],
             'Andrea Piechele in Strade Bianche': [],
             'Andrea Peron in Strade Bianche': [],
             'Gianfranco Zilioli in Strade Bianche': [],
             'Jasper Stuyven in Strade Bianche': [26, 40],
             'Nicholas Pettina in Strade Bianche': [],
             'Christophe Riblon in Strade Bianche': [],
             'Giuseppe Fonzi in Strade Bianche': [],
             'Maximiliano Richeze in Strade Bianche': [],
             'Ruben Zepuntke in Strade Bianche': [],
             'Gianluca Brambilla in Strade Bianche': [3],
             'Edoardo Zardini in Strade Bianche': [],
             'Simone Velasco in Strade Bianche': [78, 41],
             'Valerio Conti in Strade Bianche': [21],
             'Artem Nych in Strade Bianche': [],
             'Luca Braidot in Strade Bianche': [],
             'Petr Vakoč in Strade Bianche': [5, 27, 60],
             'Tiesj Benoot in Strade Bianche': [8, 8, 1, 5],
             'Lars Petter Nordhaug in Strade Bianche': [9],
             'Jakob Fuglsang in Strade Bianche': [11, 2, 5],
             'Jay Mccarthy in Strade Bianche': [13, 71],
             'Bob Jungels in Strade Bianche': [17],
             'Gianni Moscon in Strade Bianche': [18, 17, 14, 58],
             'Robert Gesink in Strade Bianche': [22],
             'Grega Bole in Strade Bianche': [23, 39],
             'Davide Rebellin in Strade Bianche': [24],
             'Tomasz Marczyński in Strade Bianche': [25, 46, 70],
             'Bart De Clercq in Strade Bianche': [28],
             'Jan Bakelants in Strade Bianche': [29, 23],
             'Matteo Busato in Strade Bianche': [30],
             'Sébastien Turgot in Strade Bianche': [33],
             'Jens Keukeleire in Strade Bianche': [35, 33, 50],
             'Gatis Smukulis in Strade Bianche': [36],
             'Bakhtiyar Kozhatayev in Strade Bianche': [37],
             'Maxime Monfort in Strade Bianche': [38, 45],
             'Davide Viganò in Strade Bianche': [39],
             'Jürgen Roelandts in Strade Bianche': [45],
             'Pim Ligthart in Strade Bianche': [48],
             'Bert-Jan Lindeman in Strade Bianche': [49],
             'Dayer Quintana in Strade Bianche': [50],
             'Sébastien Minard in Strade Bianche': [51],
             'Jempy Drucker in Strade Bianche': [52],
             'Hugo Houle in Strade Bianche': [56, 42, 29],
             'Timo Roosen in Strade Bianche': [57],
             'Guillaume Bonnafond in Strade Bianche': [58],
             'Jack Haig in Strade Bianche': [60, 61],
             'Marcin Mrożek in Strade Bianche': [61],
             'Jesse Sergent in Strade Bianche': [62],
             'Mirko Selvaggi in Strade Bianche': [66],
             'Federico Zurlo in Strade Bianche': [68],
             'Eros Capecchi in Strade Bianche': [70, 32],
             'Tom Van Asbroeck in Strade Bianche': [71],
             'Mike Teunissen in Strade Bianche': [72, 48],
             'Daniel Felipe Martínez in Strade Bianche': [73],
             'Primož Roglič in Strade Bianche': [74, 35, 48],
             'Łukasz Owsian in Strade Bianche': [75],
             'Taylor Phinney in Strade Bianche': [76],
             'Tony Martin in Strade Bianche': [77],
             'Alessandro Tonelli in Strade Bianche': [82],
             'Giorgio Cecchinel in Strade Bianche': [83],
             'Riccardo Stacchiotti in Strade Bianche': [],
             'Nikolay Mihaylov in Strade Bianche': [],
             'Nikolay Trusov in Strade Bianche': [],
             'Simone Andreetta in Strade Bianche': [69],
             'Tom Leezer in Strade Bianche': [],
             'Luca Sterbini in Strade Bianche': [],
             'Yves Lampaert in Strade Bianche': [11],
             'Christian Meier in Strade Bianche': [],
             'Adam Blythe in Strade Bianche': [],
             'Michele Scarponi in Strade Bianche': [],
             'Sacha Modolo in Strade Bianche': [],
             'Kevin De Mesmaeker in Strade Bianche': [],
             'Lorenzo Rota in Strade Bianche': [],
             'Jorge Arcas in Strade Bianche': [86],
             'Brian Kamstra in Strade Bianche': [],
             'Peter Kennaugh in Strade Bianche': [],
             'Valerio Agnoli in Strade Bianche': [],
             'Roberto Ferrari in Strade Bianche': [],
             'Mirko Trosino in Strade Bianche': [],
             'Julien Bernard in Strade Bianche': [],
             'Rafael Valls in Strade Bianche': [],
             'Pier Paolo De Negri in Strade Bianche': [],
             'Víctor De La Parte in Strade Bianche': [],
             'Damien Howson in Strade Bianche': [],
             'Mattia Cattaneo in Strade Bianche': [],
             'Jens Debusschere in Strade Bianche': [],
             'GROßSCHARTNER Felix  in Strade Bianche': [],
             'Alex Edmondson in Strade Bianche': [],
             'Stephen Clancy in Strade Bianche': [],
             'Daniele Ratto in Strade Bianche': [],
             'Maciej Paterski in Strade Bianche': [],
             'Stijn Devolder in Strade Bianche': [28],
             'Gang Xu in Strade Bianche': [],
             'Tim Wellens in Strade Bianche': [3, 10],
             'Thibaut Pinot in Strade Bianche': [9],
             'Scott Thwaites in Strade Bianche': [10],
             'José Gonçalves in Strade Bianche': [11, 27],
             'Quentin Jauregui in Strade Bianche': [12, 35],
             'Luis León Sánchez in Strade Bianche': [14],
             'Stefan Küng in Strade Bianche': [15, 16, 15, 14],
             'Vegard Stake Laengen in Strade Bianche': [16],
             'Ondřej Cink in Strade Bianche': [18],
             'Edvald Boasson Hagen in Strade Bianche': [19, 42],
             'Truls Engen Korsæth in Strade Bianche': [20],
             'Floris De Tier in Strade Bianche': [24, 13, 42],
             'Sébastien Reichenbach in Strade Bianche': [28],
             'Fabio Aru in Strade Bianche': [32],
             'Michael Valgren in Strade Bianche': [36, 45, 30],
             'Tao Geoghegan Hart in Strade Bianche': [37],
             'Nils Politt in Strade Bianche': [39],
             'Marco Marcato in Strade Bianche': [47],
             'Nans Peters in Strade Bianche': [51],
             'Marcus Burghardt in Strade Bianche': [53, 15, 23],
             'Tiago Machado in Strade Bianche': [54],
             'Christoph Pfingsten in Strade Bianche': [56, 45],
             'Simon Clarke in Strade Bianche': [57, 17, 8],
             'Richard Carapaz in Strade Bianche': [58, 62],

In [11]:
pcs_time_series = [{
    "title": {
        "english": f"Classification of cyclist {label}",
        "dutch": f"Klassering van wielrenner {label}"
    },
    "axis_label": {
        "english": "Classification",
        "dutch": "Klassering"
    },
    "source": [url for race, url in races.items() if race in label][0],
    "values": values
} for label, values in classifications_per_rider.items() if len(values)==len(years)]

pcs_time_series

[{'title': {'english': 'Classification of cyclist Alexander Kristoff in Milano-Sanremo',
   'dutch': 'Klassering van wielrenner Alexander Kristoff in Milano-Sanremo'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/milano-sanremo/',
  'values': [1, 2, 6, 4, 4, 14, 83]},
 {'title': {'english': 'Classification of cyclist Sonny Colbrelli in Milano-Sanremo',
   'dutch': 'Klassering van wielrenner Sonny Colbrelli in Milano-Sanremo'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/milano-sanremo/',
  'values': [6, 18, 9, 13, 9, 43, 63]},
 {'title': {'english': 'Classification of cyclist Peter Sagan in Milano-Sanremo',
   'dutch': 'Klassering van wielrenner Peter Sagan in Milano-Sanremo'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/milano-sanremo/',
  'values': [10, 4, 12, 2, 6, 4, 4]},
 {'title': {'english': 'Classification of cyclist Davide Cimolai in Milano-Sanremo',
   'dutch': 'Klassering van wielrenner Davide Cimolai in Milano-Sanremo'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/milano-sanremo/',
  'values': [22, 8, 108, 54, 51, 22, 90]},
 {'title': {'english': 'Classification of cyclist Greg Van Avermaet in Milano-Sanremo',
   'dutch': 'Klassering van wielrenner Greg Van Avermaet in Milano-Sanremo'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/milano-sanremo/',
  'values': [25, 19, 5, 21, 17, 42, 8]},
 {'title': {'english': 'Classification of cyclist Arnaud Démare in Milano-Sanremo',
   'dutch': 'Klassering van wielrenner Arnaud Démare in Milano-Sanremo'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/milano-sanremo/',
  'values': [34, 127, 1, 6, 3, 32, 24]},
 {'title': {'english': 'Classification of cyclist Michael Matthews in Milano-Sanremo',
   'dutch': 'Klassering van wielrenner Michael Matthews in Milano-Sanremo'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/milano-sanremo/',
  'values': [78, 3, 59, 12, 7, 12, 3]},
 {'title': {'english': 'Classification of cyclist Koen De Kort in Milano-Sanremo',
   'dutch': 'Klassering van wielrenner Koen De Kort in Milano-Sanremo'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/milano-sanremo/',
  'values': [80, 69, 44, 72, 43, 110, 98]},
 {'title': {'english': 'Classification of cyclist Stijn Vandenbergh in Ronde van Vlaanderen',
   'dutch': 'Klassering van wielrenner Stijn Vandenbergh in Ronde van Vlaanderen'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/ronde-van-vlaanderen/',
  'values': [4, 51, 13, 45, 36, 20, 46]},
 {'title': {'english': 'Classification of cyclist Alexander Kristoff in Ronde van Vlaanderen',
   'dutch': 'Klassering van wielrenner Alexander Kristoff in Ronde van Vlaanderen'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/ronde-van-vlaanderen/',
  'values': [5, 1, 4, 5, 16, 3, 3]},
 {'title': {'english': 'Classification of cyclist Sebastian Langeveld in Ronde van Vlaanderen',
   'dutch': 'Klassering van wielrenner Sebastian Langeveld in Ronde van Vlaanderen'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/ronde-van-vlaanderen/',
  'values': [10, 54, 114, 72, 22, 15, 60]},
 {'title': {'english': 'Classification of cyclist Zdeněk Štybar in Ronde van Vlaanderen',
   'dutch': 'Klassering van wielrenner Zdeněk Štybar in Ronde van Vlaanderen'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/ronde-van-vlaanderen/',
  'values': [18, 9, 8, 67, 10, 36, 73]},
 {'title': {'english': 'Classification of cyclist Laurens De Vreese in Ronde van Vlaanderen',
   'dutch': 'Klassering van wielrenner Laurens De Vreese in Ronde van Vlaanderen'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/ronde-van-vlaanderen/',
  'values': [24, 17, 18, 79, 34, 72, 77]},
 {'title': {'english': 'Classification of cyclist Matteo Trentin in Ronde van Vlaanderen',
   'dutch': 'Klassering van wielrenner Matteo Trentin in Ronde van Vlaanderen'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/ronde-van-vlaanderen/',
  'values': [58, 88, 34, 13, 45, 21, 62]},
 {'title': {'english': 'Classification of cyclist Jasper Stuyven in Ronde van Vlaanderen',
   'dutch': 'Klassering van wielrenner Jasper Stuyven in Ronde van Vlaanderen'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/ronde-van-vlaanderen/',
  'values': [61, 32, 118, 51, 7, 19, 26]},
 {'title': {'english': 'Classification of cyclist Dylan Van Baarle in Ronde van Vlaanderen',
   'dutch': 'Klassering van wielrenner Dylan Van Baarle in Ronde van Vlaanderen'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/ronde-van-vlaanderen/',
  'values': [89, 37, 6, 4, 12, 18, 8]},
 {'title': {'english': 'Classification of cyclist Michał Kwiatkowski in Liege-Bastogne-Liege',
   'dutch': 'Klassering van wielrenner Michał Kwiatkowski in Liege-Bastogne-Liege'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/liege-bastogne-liege/',
  'values': [3, 21, 36, 3, 29, 12, 10]},
 {'title': {'english': 'Classification of cyclist Rudy Molard in Liege-Bastogne-Liege',
   'dutch': 'Klassering van wielrenner Rudy Molard in Liege-Bastogne-Liege'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/liege-bastogne-liege/',
  'values': [16, 28, 90, 17, 26, 25, 13]},
 {'title': {'english': 'Classification of cyclist Tim Wellens in Liege-Bastogne-Liege',
   'dutch': 'Klassering van wielrenner Tim Wellens in Liege-Bastogne-Liege'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/liege-bastogne-liege/',
  'values': [43, 93, 48, 35, 16, 11, 33]},
 {'title': {'english': 'Classification of cyclist Mikaël Cherel in Liege-Bastogne-Liege',
   'dutch': 'Klassering van wielrenner Mikaël Cherel in Liege-Bastogne-Liege'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/liege-bastogne-liege/',
  'values': [47, 52, 45, 87, 49, 76, 108]},
 {'title': {'english': 'Classification of cyclist Bauke Mollema in Il Lombardia',
   'dutch': 'Klassering van wielrenner Bauke Mollema in Il Lombardia'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/il-lombardia/',
  'values': [89, 75, 19, 19, 64, 1, 4]},
 {'title': {'english': 'Classification of cyclist Rohan Dennis in World Championship Individual Time Trial',
   'dutch': 'Klassering van wielrenner Rohan Dennis in World Championship Individual Time Trial'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/world-championship-itt/',
  'values': [5, 6, 6, 8, 1, 1, 5]},
 {'title': {'english': 'Classification of cyclist Nelson Oliveira in World Championship Individual Time Trial',
   'dutch': 'Klassering van wielrenner Nelson Oliveira in World Championship Individual Time Trial'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/world-championship-itt/',
  'values': [7, 13, 20, 4, 5, 8, 11]},
 {'title': {'english': 'Classification of cyclist Maciej Bodnar in World Championship Individual Time Trial',
   'dutch': 'Klassering van wielrenner Maciej Bodnar in World Championship Individual Time Trial'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/world-championship-itt/',
  'values': [16, 8, 4, 50, 17, 20, 28]},
 {'title': {'english': 'Classification of cyclist Greg Van Avermaet in World Championship Road Race',
   'dutch': 'Klassering van wielrenner Greg Van Avermaet in World Championship Road Race'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/world-championship/',
  'values': [5, 23, 10, 6, 50, 8, 21]},
 {'title': {'english': 'Classification of cyclist Ramon Sinkeldam in Dutch National Championship Road Race',
   'dutch': 'Klassering van wielrenner Ramon Sinkeldam in Dutch National Championship Road Race'},
  'axis_label': {'english': 'Classification', 'dutch': 'Klassering'},
  'source': 'https://www.procyclingstats.com/race/nc-netherlands/',
  'values': [19, 2, 8, 1, 3, 7, 11]}]

# CBS
The Dutch central statistics bureau - unsurprisingly - offers a huge amount of data. They even offer a Python package - `cbsodata` - that can be used to access it directly from Python, into a DataFrame. For now I selected two tables: one with crime statistics and one with outcomes of surveys related to happiness.

In [30]:
import pandas as pd
import cbsodata

toc = pd.DataFrame(cbsodata.get_table_list())

toc_yearly = toc[toc['Frequency'].isin(['Yearly', 'Perjaar'])]

toc_yearly_incl_2020 = toc_yearly[toc_yearly['Period'].str.contains('202')]
toc_yearly_incl_2020_ned = toc_yearly_incl_2020[toc_yearly_incl_2020['Identifier'].str.contains("NED")]

pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', -1)
toc_yearly_incl_2020_ned[['Title', 'Identifier']]

<ipython-input-30-ad3666c811b6>:12: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

,Title,Identifier
31,"Arbeidsdeelname, vanaf 1969",83752NED
57,Werknemers; mate van overwerken,83441NED
58,"Werkzame beroepsbevolking; arbeidspositie partner, inkomen en kenmerken",83685NED
66,Werkzame beroepsbevolking; thuiswerken,83258NED
67,Werkzame beroepsbevolking; werkadres,82918NED
68,Werkzame beroepsbevolking; werken buiten kantoortijden,83259NED
94,Niet-werkzame bevolking; arbeidsbelemmering door langdurige ziekte,83930NED
97,Arbeidsongevallen werknemers; bedrijfstak,83158NED
98,Arbeidsongevallen werknemers; beroep,84433NED
99,Arbeidsongevallen werknemers; geslacht en leeftijd,83052NED
100,Arbeidsongevallen werknemers; migratieachtergrond en arbeidsduur,83053NED
103,Duurzame inzetbaarheid werknemers; bedrijfstak,83156NED
104,Duurzame inzetbaarheid werknemers; beroep,84434NED
105,Duurzame inzetbaarheid werknemers; geslacht en leeftijd,83054NED
106,Duurzame inzetbaarheid werkn.; migratieachtergrond en arbeidsbelemmeringen,83055NED
109,Fysieke arbeidsbelasting werknemers; bedrijfstak,83159NED
110,Fysieke arbeidsbelasting werknemers; beroep,84435NED
111,Fysieke arbeidsbelasting werknemers; geslacht en leeftijd,83044NED
112,"Fysieke arbeidsbelasting werkn.; migratieachtergrond, arbeidsbelemmeringen",83045NED
115,Psychosociale arbeidsbelasting (PSA) werknemers; bedrijfstak,83157NED
116,Psycho-sociale arbeidsbelasting werknemers; beroep,84436NED
117,"Psychosociale arbeidsbelasting werkn.; migratieachtergr., arbeidsbelem.",83050NED
118,Psychosociale arbeidsbelasting (PSA) werknemers; geslacht en leeftijd,83049NED
124,"Werkstakingen: geschillen, verloren arbeidsdagen, werknemers; bedrijfstak",84376NED
127,Ziekteverzuim volgens werknemers; arbeidsomstandigheden,83415NED
128,Ziekteverzuim volgens werknemers; bedrijfstak en vestigingsgrootte,83130NED
129,Ziekteverzuim volgens werknemers; beroep,84437NED
130,Ziekteverzuim volgens werknemers; geslacht en leeftijd,83056NED
131,Ziekteverzuim volgens werknemers; migratieachtergrond en onderwijsniveau,83057NED
183,"Vestigingen van bedrijven; bedrijfstak, regio",81578NED
184,"Vestigingen van bedrijven; bedrijfstak, gemeente",81575NED
185,"Vestigingen van bedrijven; opheffingen, bedrijfstak, regio",83635NED
186,"Vestigingen van bedrijven; oprichtingen, bedrijfstak, regio",83631NED
187,"Vestigingen van bedrijven; grootte, rechtsvorm, bedrijfstak, regio",81644NED
213,"ICT-gebruik bij kleine bedrijven; bedrijfstak en bedrijfsgrootte, 2020",84828NED
214,"ICT-gebruik bij kleine bedrijven; bedrijfsgrootte, 2020",84829NED
215,"ICT-gebruik bij bedrijven; bedrijfsgrootte, 2020",84830NED
216,"ICT-gebruik bij bedrijven; bedrijfstak en bedrijfsgrootte, 2020",84831NED
217,"ICT-gebruik bij bedrijven; bedrijfstak, 2020",84832NED
243,ICT-gebruik bij bedrijven; kerncijfers,83249NED
266,"Uitgenodigde vluchtelingen; nationaliteit, geslacht en leeftijd",82025NED
383,"Bevolking; geslacht, leeftijd en viercijferige postcode, 1 januari",83502NED
384,"Bevolking; geslacht, migratieachtergrond, viercijferige postcode, 1 januari",83503NED
385,"Bevolking; geslacht, positie huishouden, viercijferige postcode, 1 januari",83504NED
386,"Huishoudens; huishoudenssamenstelling en viercijferige postcode, 1 januari",83505NED
390,"Bevolking; migratieachtergrond, generatie, leeftijd, regio, 1 januari",84910NED
393,"Bevolking; geslacht, leeftijd, nationaliteit en regio, 1 januari",84727NED
404,"Personen in institutionele huishoudens; geslacht en leeftijd, 1 januari",82887NED
405,"Huishoudens; grootte, samenstelling, positie in het huishouden, 1 januari",82905NED
410,"Daklozen 18 tot 65 jaar; persoonskenmerken, 1 januari",84990NED
437,Huurverhoging woningen; renovatie- en harmonisatie-effect,84824NED
438,"Huurontwikkeling woningen; soort ontwikkeling, soort verhuurder",84823NED
439,Reële huurverhoging woningen; sociale- en overige verhuurders,84822NED
440,Huurverhoging woningen; inkomensklasse,84825NED
441,Huurverhoging woningen; regio,83162NED
442,Huurverhoging woningen; soort verhuur,83163NED
445,"Voorraad woningen; eigendom, type verhuurder, bewoning, regio",82900NED
451,"Bestaande koopwoningen; gemiddelde verkoopprijzen, regio",83625NED
471,"Caribisch Nederland; bevolking, geboorteland, nationaliteit",84757NED
472,"Caribisch Nederland; bevolking; geslacht, leeftijd, burgerlijke staat",83698NED
473,"Caribisch Nederland; bevolking, geslacht, leeftijd en geboorteland",84712NED
475,"Caribisch Nederland; bevolkingsontwikkeling, geboorte, sterfte en migratie",83774NED
477,"Caribisch Nederland, Bonaire; verkochte woningen prijsindex 2011=100",83396NED
494,"Caribisch NL; leerlingen in het po, vo en mbo",84732NED
495,"Caribisch NL; deelnemers mbo, niveau, sector, domein",84312NED
508,"Energiebalans; aanbod, omzetting en verbruik",83140NED
550,Hernieuwbare elektriciteit; productie en vermogen,82610NED
574,Donorregistratie; persoonskenmerken,82814NED
676,Gezondheid en zorggebruik; persoonskenmerken,83005NED
688,Leefstijl en (preventief) gezondheidsonderzoek; persoonskenmerken,83021NED
689,"Lengte en gewicht van personen, ondergewicht en overgewicht; vanaf 1981",81565NED
690,"Welzijn; kerncijfers, persoonskenmerken",82634NED
700,"Welzijn; gelukkig en tevreden, persoonskenmerken vanaf 1997",84572NED
791,Fruitteelt; oogst en teeltoppervlakte appels en peren,84499NED
792,"Fruitteelt open grond en onder glas; teeltoppervlakte, soort fruit",84470NED
800,Activiteiten van biologische landbouwbedrijven; regio,83922NED
803,"Dierlijke mest; productie en mineralenuitscheiding; bedrijfstype, regio",83983NED
804,"Dierlijke mest; productie en mineralenuitscheiding, diercategorie, regio",83982NED
805,"Dierlijke mest: productie, transport en gebruik, kerncijfers",83981NED
811,"Landbouw; opbouw inkomen en arbeidsvolume, nationale rekeningen",84298NED
812,"Landbouw; output goederen en diensten, nationale rekeningen",84299NED
820,"Landbouw; gewassen, dieren en grondgebruik, bedrijfstak (SBI 2008)",84756NED
988,"Kerncijfers gemeentebegrotingen, heffingen per gemeente",83643NED
989,"Kerncijfers gemeentebegrotingen, heffingen naar regio en grootteklasse",83616NED
991,Gemeentebegrotingen; baten en lasten naar regio en grootteklasse,83641NED
992,Gemeentebegrotingen; heffingen naar regio en grootteklasse,83614NED
993,Gemeentebegrotingen; heffingen per gemeente,83642NED
998,Provinciebegrotingen; baten en lasten per taakveld,83640NED
1005,Personen in de schuldsanering op 31 december; regio,84926NED
1006,"Personen met uitgesproken schuldsanering; jaar uitspraak, regio",84924NED
1007,"Personen met beëindigde schuldsanering; regio, wijze beëindiging",84928NED
1008,"Geregistreerde criminaliteit; soort misdrijf, regio",83648NED
1009,"Geregistreerde diefstallen; diefstallen en verdachten, regio",83651NED
1019,"Verdachten; delictgroep, stedelijkheid buurt en woongemeente",81960NED
1030,"Bromfietsen; aantal (per 1000 inwoners), soort voertuig, regio's, 1 januari",81568NED
1042,"Personen met een rijbewijs; rijbewijscategorie, leeftijd, regio, 1 januari",83488NED
1043,Wegvervoer; vervoerd gewicht naar provincie van laden en lossen,83082NED
1081,Leven lang leren; bevolking (15 tot 75 jaar),84277NED
1083,"Leven lang leren; werkzame beroepsbevolking, arbeidskenmerken",84278NED
1102,Onderwijsniveau van personen en partner,83613NED
1105,"Jongeren; voortijdig schoolverlaters (tot. omv), geslacht,migratieachtergr.",82381NED
1132,"Personen met uitgesproken schuldsanering; jaar uitspraak, persoonskenmerken",84923NED
1133,"Personen met beëindigde schuldsanering; persoonskenmerk, wijze beëindiging",84927NED
1134,Personen in de schuldsanering op 31 december; persoonskenmerken,84925NED
1147,Geregistreerde criminaliteit; tijdreeks vanaf 1948,83723NED
1148,Registraties en aanhoudingen van verdachten; nationaliteit,82315NED
1149,"Verdachten; delictgroep, geslacht, leeftijd en migratieachtergrond",81947NED
1150,"Verdachten; geslacht, leeftijd, migratieachtergrond en generatie",81959NED
1151,"Verdachten van misdrijven; leeftijd, geslacht en recidive",81997NED
1174,"Amsterdam Airport Schiphol; passagiersvervoer, partnerluchthaven",83435NED
1180,Wegvervoer; kerncijfers,83077NED
1181,Wegvervoer; kerncijfers per bedrijfstak,83463NED
1182,Wegvervoer; kerncijfers per milieuklasse,83404NED
1183,"Wegvervoer bestelauto's; vervoerd gewicht, ladington- en voertuigkilometers",82836NED
1184,Wegvervoer; vervoerd gewicht naar goederensoort NST 2007,83079NED
1185,Wegvervoer; vervoerd gewicht naar goederensoort NSTR,83080NED
1186,Wegvervoer; vervoerd gewicht naar afstandsklasse,83078NED
1187,Wegvervoer; vervoerd gewicht naar land van laden en lossen,83081NED
1189,Wegvervoer; vervoerd gewicht vanaf 1955,83083NED
1194,"Binnenvaart; goederenvervoer, aan- en afvoer, landen, goederensoort",82515NED
1195,"Binnenvaart; goederenvervoer, vervoerstroom, goederensoort",82514NED
1200,"Bromfietsen; soort voertuig, brandstof, bouwjaar, 1 januari",81540NED
1204,"Motorvoertuigenpark; type, leeftijdsklasse, 1 januari",82044NED
1205,Motorvoertuigen; vanaf 1927,82472NED
1270,Internettoegang en internetactiviteiten; persoonskenmerken,84888NED
1271,Internetaankopen; persoonskenmerken,84889NED

In [31]:
identifier = "83648NED"

data = pd.DataFrame(cbsodata.get_data(identifier))

In [32]:
years_str = [str(year) for year in years]

crime_types = [
    "17 Witwassen",
    "211 Vernieling aan auto",
    "23 Brandstichting / ontploffing",
    "52 Rijden onder invloed",
    "56 Joyriding",
    '61 Harddrugs',
    '62 Softdrugs',
]

replacements = {
    "17 Witwassen": "witwassen",
    "211 Vernieling aan auto": "vernieling aan auto",
    "23 Brandstichting / ontploffing": "brandstichting",
    "52 Rijden onder invloed": "rijden onder invloed",
    "56 Joyriding": "joyriding",
    '61 Harddrugs': "harddrugs",
    '62 Softdrugs': "softdrugs",
}

data_filtered = data[(data['SoortMisdrijf'].isin(crime_types)) & data['Perioden'].isin(years_str)]

for original, replacement in replacements.items():
    data_filtered['SoortMisdrijf'] = data_filtered['SoortMisdrijf'].replace(original, replacement)
    data_filtered['RegioS'] = data_filtered['RegioS'].str.replace(original, replacement)

data_filtered['SoortPerRegio'] = "Aantal misdrijven gerelateerd aan " + data_filtered['SoortMisdrijf'].str.lower() + " in " + data_filtered['RegioS']

data_filtered = data_filtered[~data_filtered['RegioS'].str.contains('Niet in te delen')]

<ipython-input-32-37b4ea4b3f02>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_filtered['SoortMisdrijf'] = data_filtered['SoortMisdrijf'].replace(original, replacement)
<ipython-input-32-37b4ea4b3f02>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_filtered['RegioS'] = data_filtered['RegioS'].str.replace(original, replacement)
<ipython-input-32-37b4ea4b3f02>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_filtered['SoortPerRegio'] = "Aantal misdrijven gerelateerd aan " + data_filtered['SoortMisdrijf'].str.lower() + " in " + data_filtered['RegioS']

In [34]:
translations = {
    "witwassen": "money laundering",
    "vernieling aan auto": "destruction/vandalism of cars",
    "brandstichting": "arson",
    "rijden onder invloed": "drunk driving",
    "Aantal misdrijven gerelateerd aan": "Number of crimes related to",
    "gemeente": "municipality"
}

def translate(text):
    for dutch, english in translations.items():
        text = text.replace(dutch, english)
    return text

crime_time_series = []

labels = list(set(data_filtered['SoortPerRegio']))

for label in labels:
    values = list(data_filtered[data_filtered['SoortPerRegio']==label].sort_values('Perioden')['TotaalGeregistreerdeMisdrijven_1'])
    
    assert len(values) == len(years)
    
    if not any([pd.isna(value) for value in values]) and all([value>100 for value in values]):
        crime_time_series.append({
            "title": {
                "english": translate(label),
                "dutch": label
            },
            "axis_label": {
                "english": "Number of crimes",
                "dutch": "Aantal misdrijven"
            },
            "source": "https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb",
            "values": values
        })

crime_time_series

[{'title': {'english': 'Number of crimes related to softdrugs in Zuid-Holland (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan softdrugs in Zuid-Holland (PV)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [2015.0, 1700.0, 1600.0, 1305.0, 1270.0, 1295.0, 1025.0]},
 {'title': {'english': 'Number of crimes related to destruction/vandalism of cars in Velsen',
   'dutch': 'Aantal misdrijven gerelateerd aan vernieling aan auto in Velsen'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [235.0, 220.0, 230.0, 170.0, 150.0, 190.0, 200.0]},
 {'title': {'english': 'Number of crimes related to arson in Nederland',
   'dutch': 'Aantal misdrijven gerelateerd aan brandstichting in Nederland'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [5045.0, 4900.0, 4800.0, 4700.0, 4635.0, 4770.0, 5035.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Gelderland (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Gelderland (PV)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [2860.0, 2645.0, 2540.0, 2480.0, 3020.0, 3805.0, 3380.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Limburg (RE)',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Limburg (RE)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [1690.0, 1305.0, 1295.0, 1255.0, 1425.0, 1780.0, 1630.0]},
 {'title': {'english': 'Number of crimes related to softdrugs in Fryslân (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan softdrugs in Fryslân (PV)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [260.0, 195.0, 140.0, 155.0, 150.0, 180.0, 165.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Noord-Nederland (LD)',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Noord-Nederland (LD)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [2235.0, 2185.0, 2255.0, 2315.0, 2785.0, 3305.0, 3005.0]},
 {'title': {'english': 'Number of crimes related to softdrugs in Limburg (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan softdrugs in Limburg (PV)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [775.0, 725.0, 650.0, 510.0, 685.0, 840.0, 875.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Helmond',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Helmond'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [155.0, 125.0, 130.0, 185.0, 150.0, 215.0, 160.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Alkmaar',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Alkmaar'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [280.0, 250.0, 235.0, 230.0, 215.0, 200.0, 185.0]},
 {'title': {'english': 'Number of crimes related to destruction/vandalism of cars in Noord-Brabant (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan vernieling aan auto in Noord-Brabant (PV)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [8235.0, 7480.0, 7035.0, 5855.0, 5270.0, 5350.0, 4950.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Dordrecht',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Dordrecht'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [300.0, 210.0, 175.0, 225.0, 175.0, 200.0, 190.0]},
 {'title': {'english': 'Number of crimes related to destruction/vandalism of cars in Flevoland (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan vernieling aan auto in Flevoland (PV)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [1125.0, 900.0, 935.0, 810.0, 760.0, 795.0, 750.0]},
 {'title': {'english': 'Number of crimes related to harddrugs in Noord-Brabant (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan harddrugs in Noord-Brabant (PV)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [995.0, 960.0, 1055.0, 1060.0, 1215.0, 1570.0, 1155.0]},
 {'title': {'english': 'Number of crimes related to destruction/vandalism of cars in Tilburg',
   'dutch': 'Aantal misdrijven gerelateerd aan vernieling aan auto in Tilburg'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [755.0, 795.0, 770.0, 600.0, 630.0, 605.0, 575.0]},
 {'title': {'english': 'Number of crimes related to destruction/vandalism of cars in West-Nederland (LD)',
   'dutch': 'Aantal misdrijven gerelateerd aan vernieling aan auto in West-Nederland (LD)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [24850.0, 24515.0, 22455.0, 19100.0, 16500.0, 17205.0, 16710.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Heerlen',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Heerlen'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [175.0, 140.0, 150.0, 140.0, 165.0, 165.0, 145.0]},
 {'title': {'english': 'Number of crimes related to arson in Overijssel (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan brandstichting in Overijssel (PV)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [295.0, 270.0, 320.0, 275.0, 285.0, 250.0, 270.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Ede',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Ede'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [125.0, 105.0, 105.0, 160.0, 160.0, 220.0, 220.0]},
 {'title': {'english': 'Number of crimes related to softdrugs in Zeeland - West-Brabant (RE)',
   'dutch': 'Aantal misdrijven gerelateerd aan softdrugs in Zeeland - West-Brabant (RE)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [1210.0, 1060.0, 790.0, 785.0, 860.0, 960.0, 870.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Leidschendam-Voorburg',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Leidschendam-Voorburg'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [180.0, 175.0, 150.0, 110.0, 155.0, 175.0, 120.0]},
 {'title': {'english': 'Number of crimes related to arson in Noord-Nederland (RE)',
   'dutch': 'Aantal misdrijven gerelateerd aan brandstichting in Noord-Nederland (RE)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [615.0, 520.0, 395.0, 395.0, 420.0, 420.0, 470.0]},
 {'title': {'english': 'Number of crimes related to arson in Groningen (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan brandstichting in Groningen (PV)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [185.0, 170.0, 130.0, 150.0, 175.0, 155.0, 145.0]},
 {'title': {'english': 'Number of crimes related to softdrugs in Noord-Brabant (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan softdrugs in Noord-Brabant (PV)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [1580.0, 1365.0, 1065.0, 1015.0, 1105.0, 1370.0, 1380.0]},
 {'title': {'english': 'Number of crimes related to destruction/vandalism of cars in Terneuzen',
   'dutch': 'Aantal misdrijven gerelateerd aan vernieling aan auto in Terneuzen'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [145.0, 155.0, 170.0, 130.0, 120.0, 130.0, 110.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Purmerend',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Purmerend'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [130.0, 110.0, 135.0, 105.0, 160.0, 155.0, 130.0]},
 {'title': {'english': 'Number of crimes related to arson in Amsterdam',
   'dutch': 'Aantal misdrijven gerelateerd aan brandstichting in Amsterdam'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [210.0, 250.0, 245.0, 250.0, 225.0, 250.0, 265.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Noord-Nederland (RE)',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Noord-Nederland (RE)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [2235.0, 2185.0, 2255.0, 2315.0, 2785.0, 3305.0, 3005.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in West-Nederland (LD)',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in West-Nederland (LD)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [19685.0, 15775.0, 15110.0, 14355.0, 16000.0, 17780.0, 15275.0]},
 {'title': {'english': 'Number of crimes related to destruction/vandalism of cars in Haarlemmermeer',
   'dutch': 'Aantal misdrijven gerelateerd aan vernieling aan auto in Haarlemmermeer'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [600.0, 685.0, 425.0, 385.0, 370.0, 395.0, 270.0]},
 {'title': {'english': 'Number of crimes related to money laundering in Zuid-Holland (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan witwassen in Zuid-Holland (PV)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [230.0, 230.0, 240.0, 260.0, 290.0, 435.0, 475.0]},
 {'title': {'english': "Number of crimes related to destruction/vandalism of cars in 's-Hertogenbosch",
   'dutch': "Aantal misdrijven gerelateerd aan vernieling aan auto in 's-Hertogenbosch"},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [555.0, 595.0, 525.0, 465.0, 425.0, 395.0, 455.0]},
 {'title': {'english': 'Number of crimes related to destruction/vandalism of cars in Den Haag (RE)',
   'dutch': 'Aantal misdrijven gerelateerd aan vernieling aan auto in Den Haag (RE)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [5315.0, 5250.0, 5065.0, 4060.0, 3610.0, 4030.0, 3765.0]},
 {'title': {'english': "Number of crimes related to harddrugs in 's-Gravenhage (municipality)",
   'dutch': "Aantal misdrijven gerelateerd aan harddrugs in 's-Gravenhage (gemeente)"},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [305.0, 325.0, 335.0, 340.0, 290.0, 245.0, 285.0]},
 {'title': {'english': 'Number of crimes related to softdrugs in Zeeland (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan softdrugs in Zeeland (PV)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [195.0, 265.0, 185.0, 205.0, 220.0, 225.0, 210.0]},
 {'title': {'english': 'Number of crimes related to destruction/vandalism of cars in Zuid-Nederland (LD)',
   'dutch': 'Aantal misdrijven gerelateerd aan vernieling aan auto in Zuid-Nederland (LD)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [12115.0, 11020.0, 10095.0, 8375.0, 7530.0, 7905.0, 7305.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Zuid-Holland (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Zuid-Holland (PV)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [10560.0, 8135.0, 7940.0, 7320.0, 7965.0, 8510.0, 7535.0]},
 {'title': {'english': 'Number of crimes related to softdrugs in Gelderland (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan softdrugs in Gelderland (PV)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [615.0, 540.0, 465.0, 515.0, 550.0, 655.0, 615.0]},
 {'title': {'english': 'Number of crimes related to destruction/vandalism of cars in Kerkrade',
   'dutch': 'Aantal misdrijven gerelateerd aan vernieling aan auto in Kerkrade'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [205.0, 215.0, 170.0, 150.0, 135.0, 140.0, 130.0]},
 {'title': {'english': 'Number of crimes related to destruction/vandalism of cars in Groningen (municipality)',
   'dutch': 'Aantal misdrijven gerelateerd aan vernieling aan auto in Groningen (gemeente)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [700.0, 685.0, 665.0, 980.0, 520.0, 515.0, 460.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Breda',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Breda'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [330.0, 190.0, 195.0, 250.0, 250.0, 325.0, 310.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Oost-Nederland (LD)',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Oost-Nederland (LD)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [4815.0, 4555.0, 4480.0, 4370.0, 5370.0, 6550.0, 5850.0]},
 {'title': {'english': 'Number of crimes related to harddrugs in Zeeland (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan harddrugs in Zeeland (PV)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [110.0, 105.0, 105.0, 115.0, 125.0, 135.0, 165.0]},
 {'title': {'english': 'Number of crimes related to harddrugs in Breda',
   'dutch': 'Aantal misdrijven gerelateerd aan harddrugs in Breda'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [150.0, 125.0, 145.0, 190.0, 155.0, 165.0, 140.0]},
 {'title': {'english': 'Number of crimes related to destruction/vandalism of cars in Dordrecht',
   'dutch': 'Aantal misdrijven gerelateerd aan vernieling aan auto in Dordrecht'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [395.0, 490.0, 395.0, 295.0, 295.0, 275.0, 320.0]},
 {'title': {'english': 'Number of crimes related to harddrugs in Amsterdam (RE)',
   'dutch': 'Aantal misdrijven gerelateerd aan harddrugs in Amsterdam (RE)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [1230.0, 1245.0, 1045.0, 1020.0, 1080.0, 1160.0, 725.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Terneuzen',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Terneuzen'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [230.0, 150.0, 125.0, 130.0, 150.0, 190.0, 130.0]},
 {'title': {'english': 'Number of crimes related to destruction/vandalism of cars in Zeeland - West-Brabant (RE)',
   'dutch': 'Aantal misdrijven gerelateerd aan vernieling aan auto in Zeeland - West-Brabant (RE)'},
  'axis_label': {'english': 'Number of crimes', 'dutch': 'Aantal misdrijven'},
  'source': 'https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb',
  'values': [4760.0, 4795.0, 4275.0, 3475.0, 3095.0, 3280.0, 2925.0]},
 {'title': {'english': 'Number of crimes related to drunk driving in Limburg (PV)',
   'dutch': 'Aantal misdrijven gerelateerd aan rijden onder invloed in Limburg (PV)'},

In [35]:
identifier = "84572NED"

data = pd.DataFrame(cbsodata.get_data(identifier))
data_happiness = data[(data['Marges'] == "Waarde") & data['Perioden'].isin(years_str)]
data_happiness['Label'] = f"Percentage mensen dat aangeeft gelukkig te zijn (" + data_happiness['KenmerkenPersonen'] + ")"

<ipython-input-35-47f39ab055c6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_happiness['Label'] = f"Percentage mensen dat aangeeft gelukkig te zijn (" + data_happiness['KenmerkenPersonen'] + ")"

In [36]:
translations = {
    "Percentage mensen dat aangeeft gelukkig te zijn": "Percentage of people indicating they're happy",
    "Geslacht: vrouwen": "Gender: female",
    "Geslacht: mannen": "Gender: male",
    "Leeftijd": "Age",
    "tot": "to",
    "jaar": "year",
    "of ouder": "or older",
    "Onderwijsniveau": "Education level",
    "Laag": "Low",
    "Middelbaar": "Middle",
    "Hoog": "High",
    "Migratieachtergrond": "Migration background",
    "westers": "Western",
    "niet": "not",
    "Totaal personen": "All people",
    "Nederland": "the Netherlands"
}

def translate(text):
    for dutch, english in translations.items():
        text = text.replace(dutch, english)
    return text

happiness_time_series = []

labels = list(set(data_happiness['Label']))

for label in labels:
    values = list(data_happiness[data_happiness['Label']==label].sort_values('Perioden')['Gelukkig_1'])
    happiness_time_series.append({
            "title": {
                "english": translate(label),
                "dutch": label
            },
            "axis_label": {
                "english": "Number of crimes",
                "dutch": "Aantal misdrijven"
            },
            "source": "https://opendata.cbs.nl/statline/#/CBS/nl/dataset/83648NED/table?fromstatweb",
            "values": values
        })

happiness_time_series

cbs_time_series = happiness_time_series + crime_time_series

# Plotting
Now let's see how closely each series correlates to all others, showing plots of those that correlate strongly (positively or negatively), while they're from different categories.

In [37]:
import matplotlib.pyplot as plt

def plot(series1, series2, years, language):
    fig, ax = plt.subplots()
    
    label1 = series1['title'][language]
    label2 = series2['title'][language]
    y_label1 = series1['axis_label'][language]
    y_label2 = series2['axis_label'][language]
    plt.title(f"{label1}\nvs.\n{label2}")
    
    ax.plot(years, series1['values'], color="red", marker="o")
    ax.set_xlabel("Year",fontsize=14)
    ax.set_ylabel(y_label1,color="red")

    ax2 = ax.twinx()
    ax2.plot(years, series2['values'],color="blue",marker="o")
    ax2.set_ylabel(y_label2, color="blue")

    plt.xticks(years)

    plt.show()

In [40]:
time_series = {
    "Cycling": pcs_time_series,
    "Eredivisie soccer": eredivisie_time_series,
    "Climate": climate_time_series,
    "Movies": imdb_time_series,
    "CBS": cbs_time_series
}
language = "english"

correlated_series = []
for category1, list1 in time_series.items():
    for series1 in list1:
        data1 = series1['values']
    
        for category2, list2 in time_series.items():
            for series2 in list2:
                if category1 == category2:
                    continue

                data2 = series2['values']        
                correlation = pd.Series(data1).corr(pd.Series(data2))

                if abs(correlation) > 0.95:
                    if [series2, series1, correlation] not in correlated_series:
                        correlated_series.append([series1, series2, correlation])

# Saving the dataset to JSON

In [41]:
import json

with open('all_data.json', 'w') as outfile:
    json.dump(time_series, outfile, indent=4)

with open('correlated_series.json', 'w') as outfile:
    json.dump(correlated_series, outfile, indent=4)